[2016-05-10 01:20] wkh237 opened #1 "Upload and download progresss support"
- [x] Android implementation
- [x] IOS implementation
- [x] Test cases
- [x] JS interface implementation
- [x] document update

[2016-05-10 01:23] wkh237 opened #2 "Save downloaded blob data to file system directly"
The module now transforms downloaded data into BASE64 string in native context, but it will be inefficient if the developer intend to save the data into storage directly.

Perhaps there should be an option for make it more applicable.

- [x] Android implementation
- [x] IOS implementation
- [x] Test cases
- [x] Documentation

[2016-05-18 05:17] wkh237 opened #3 "Support upload file(s) from file path"
- [x] Android implementation
- [x] IOS implementation
- [x] Test cases

[2016-05-18 12:48] kobePer opened #4 "Undefined error"
Hi,

I wan't to use your package for fetching network images.
The images are protected by Basic Auth.

I would like to use them in an <Image /> component, but keep getting following error on RNFetchBlob.fetch():

`TypeError: Cannot read property 'fetchBlob' of undefined`

I'm on RN ^0.22.2
i've installed rnpm and ran the `rnpm link` command

Any clue on what i'm missing here?

[2016-05-18 13:02] kobePer commented on #4
For those interested, following actions solved my issue:
- Cleaning my Xcode-project
- restarting RN package manager
- resetting the iOS simulator

[2016-05-18 13:02] #4 closed

[2016-05-18 15:17] wkh237 commented on #4
Hi @kobePer I think it might because this module uses native libraries, therefore it's necessary to recompile the whole project after `rnpm link`, and also restart RN packager.

Though the problem seems to have been solved, if there's any problem please feel free to create issues :D

[2016-05-19 03:50] wkh237 commented on #1
Android has native module callback restriction, so this enhancement will be on hold for this moment.

[2016-05-19 05:01] sparkdreamstudio opened #5 "react-native probably not support atob function"

[2016-05-19 06:56] MervynFang opened #6 "go into error except in chrome debugging"
I use fetch to post a base64 image data and always go into error in debug or release. when i open debug js, it success. what's wrong. is it anything i have to setting?

[2016-05-19 07:25] wkh237 commented on #6
Hi @MervynFang , I'll try to figure it out, thanks for informing !

[2016-05-19 07:33] MervynFang commented on #6
I just try in android.
and it can probably be the problem of atob.
The Error Message is:
ReferenceError: Can't find variable: atob

[2016-05-19 07:48] wkh237 commented on #6
@MervynFang , It seems `atob` is not supported in js context, and also Blob type, perhaps I have to change the API and documents ..

If you're going to post a BASE64 encoded image, you can just put the string into `body`, like

[code]
and it will be transformed into something like Blob in native, I think manually doing `atob` is unnecessary.

[2016-05-19 07:55] MervynFang commented on #6
@wkh237 got it, thanks a lot

[2016-05-19 08:34] wkh237 commented on #5
Hi @sparkdreamstudio , thanks for report this issue.

I'm now working on replacing `atob` with [https://github.com/mathiasbynens/base64](https://github.com/mathiasbynens/base64) : )

[2016-05-19 09:20] #5 closed

[2016-05-19 09:20] #6 closed

[2016-05-20 10:02] sparkdreamstudio commented on #5
Great :)

[2016-05-21 07:49] anchetaWern opened #7 "upload doesn't work"
I'm getting the error:

[code]

Not really sure what the error is all about but it seems I do not get this error when I enable chrome debugging. I tried creating a deploy version of the app in hopes that it would work but it didn't.

I'll come back later to update and provide more info.

[2016-05-21 07:57] anchetaWern commented on #7
seems to be related to this: https://github.com/wkh237/react-native-fetch-blob/issues/6
I'll close this off when it solves the issue for me.

[2016-05-21 13:31] wkh237 commented on #7
Hi @anchetaWern , I already got the situation, thanks for the report.
You may try upgrade to v0.4.0, or would you provide the usage code about how the error happens?

[2016-05-21 16:38] wkh237 opened #8 "Integration test"
- [x] octet-stream upload
- [x] octet-stream download
- [x] multipart/form-data upload
- [x] multipart/form-data download
- [x] progress report API
- [x] request redirection
- [x] file access API

[2016-05-22 07:59] anchetaWern commented on #7
@wkh237 thanks it's working now. It looks like it's the same problem as the issue I linked to.
I was supplying the base64 of the image picked with this module: https://github.com/marcshilling/react-native-image-picker to your library and it didn't work before when chrome debugging is disabled.

[2016-05-22 07:59] #7 closed

[2016-05-23 02:08] wkh237 opened #9 "[Android] Incorrect file extension on Android multipart/form-data request"
When post/put `multipar/form-data` with android, the file extension is missing in request body.

[2016-05-23 02:12] wkh237 opened #10 "[Android] Error when header is null"
Header is an optional argument, this is a bug.

[2016-05-23 03:15] #10 closed

[2016-05-23 03:15] #9 closed

[2016-05-23 10:14] wkh237 commented on #8
- [ ] Add test to check if API follows redirection

[2016-05-25 00:55] wkh237 opened #11 "Add config API"
there will be lot of features in the future, so that current API needs to be extend, but how?

[2016-05-25 20:53] itinance opened #12 "TypeError: undefined is not an object (evaluating 'RNFetchBlob[nativeMethodName]'"
`RNFetchBlob.fetch('GET', mediaUrl, {})`

A promise is returned but .then() or .catch() will never being reached because of an exception:

`undefined is not an object (evaluating 'RNFetchBlob[nativeMethodName]')`

(tested in an iOS-project)

[2016-05-26 01:38] wkh237 commented on #12
Hi @itinance , thanks for reporting the issue.

It looks like the native iOS module not linked to your iOS project, have you run `rnpm link` and recompile the project (simply run `react-native run-ios` again) after `npm install react-native-fetch-blob` ?

I could only be able to reproduce this error when running an iOS project in [release mode](https://facebook.github.io/react-native/docs/running-

[2016-05-26 07:22] wkh237 opened #13 "Download large files may result in out of memory"
Downloaded files chunks should cached in disk storage rather than memory, otherwise it crashes app when file is large. This will be implemented with v0.5 features #2 #3.

- [x] #2
- [x] #3

[2016-05-26 07:29] #1 closed

[2016-05-26 11:17] itinance commented on #12
Thank you for your fast reply. I already did rnpm link and everything seems to be okay, but i still get this error:

![screen shot 2016-05-26 at 13 15 30](https://cloud.githubusercontent.com/assets/1758597/15572945/13e345ce-2344-11e6-9924-d1bdf3e799a4.png)
![screen shot 2016-05-26 at 13 15 43](https://cloud.githubusercontent.com/assets/1758597/15572952/1cc381fe-2344-11e6-8ba2-397a3be65383.png)

[2016-05-26 11:27] itinance commented on #12
Okay, i did a "clean" and re- "build" and this worked now for me! Thank you very match for your assistance!

[2016-05-26 11:27] #12 closed

[2016-05-26 13:39] wkh237 commented on #12
@itinance , you're welcome, please feel free to file an issue : )

[2016-05-26 13:45] itinance opened #14 "How to decode the base64 to native binary data?"
I download mp3 files from a remote source with [react-native-fetch-blob](https://github.com/wkh237/react-native-fetch-blob) and store them in local filesystem with [react-native-fs](https://github.com/johanneslumpe/react-native-fs).
However, the data is stored in base64 encoded then.

Is it possible to store the files directly in its binary format on local storage that i can play these files with

[2016-05-26 13:53] itinance commented on #14
Ah i think this relates to https://github.com/wkh237/react-native-fetch-blob/issues/2

[2016-05-26 16:57] wkh237 commented on #14
Hi @itinance , as you may know, I'm still working on it ( on v0.5.0 branch ) 😃

[2016-05-26 17:13] itinance commented on #14
Sounds really nice! Can you tell some details of this upcoming feature? In my case i think about a method "downloadFileToLocalStorage( uri, destination )" and the file would be downloaded from remote uri and placed in local storage.
Would your new feature be the same more or less? :)

[2016-05-27 01:17] wkh237 commented on #14
@itinance , I planned to add a `config` API so that you can do this

[code]

I'm also consider whether add some other APIs that simply wraps the original ones, such as

[code]
but these wrapper APIs may not be added in v0.5.0.

[2016-05-27 09:49] itinance commented on #14
That sounds really great!

[2016-05-28 13:54] #14 closed

[2016-05-28 13:58] wkh237 opened #15 "Files should be able to read via file stream"
- [x] IOS implementation
- [x] Android implementation
- [x] Test case

[2016-05-28 14:00] #11 closed

[2016-05-30 07:06] #3 closed

[2016-05-30 07:06] #15 closed

[2016-05-30 10:20] wkh237 opened #16 "File cache management"
In upcoming version v0.5.0, new APIs allow RN app access file system directly, is there a better solution to remove cached files than just manually  calling `unlink` API ?

- [x] session API implementation

[2016-05-30 15:53] #2 closed

[2016-05-30 15:53] #13 closed

[2016-05-30 15:56] wkh237 opened #17 "v0.5.0 release preparation"
v0.5.0 features are almost finished, before it release we still got something to do.

- [x] Documentation
- [x] More test cases
- [x] System directory API  improvement
- [x] Memory and file cache release

[2016-06-01 03:25] wkh237 opened #18 "File access API implementation"
- [x] Android implementation #19
- [x] IOS implementation #20
- [x] Tests
- [x] Documentation

[2016-06-01 03:26] wkh237 opened #19 "[Android] File access APIs"
Relate to #18

- [x] write
- [x] read stream
- [x] cp
- [x] ls
- [x] unlink
- [x] mv
- [x] exists

[2016-06-01 03:26] wkh237 opened #20 "[IOS] File access API"
Relate to #18

- [x] write
- [x] read stream
- [x] cp
- [x] ls
- [x] unlink
- [x] mv
- [x] exists

[2016-06-01 14:25] vince-rowe commented on #17
This is fantastic, looking forward to using the direct save / temp location to be more memory efficient in our particular use cases. Do you have an idea on timings for the release of this? Or a method of us installing the 0.5.0 branch with react native while this is still work in progress at all?

Many thanks

[2016-06-01 14:54] #20 closed

[2016-06-01 14:55] #19 closed

[2016-06-01 14:55] #16 closed

[2016-06-01 15:25] wkh237 commented on #17
Hi @vince-rowe , please take a look on [v0.5.0 milestone](https://github.com/wkh237/react-native-fetch-blob/milestones).

v0.5.0  functions and tests are almost finished, but I still prefer to publish on the scheduled date (say, June 12).

Before that, if you're going to install v0.5.0 from the source. you can just clone or download the source, then `npm install` the `src` folder.

For example

[c

[2016-06-01 16:35] vince-rowe commented on #17
Thats perfect, all up and running this end and looks great. Many thanks for your quick response.

Vince

[2016-06-02 15:39] wkh237 opened #21 "[Android] Make files visible in "Downloads" app"
Most of Android devices have "Downloads" app for users checking files they downloaded. But files downloaded by our API are not visible in "Downloads" app, we have to add support to this.

[Reference](https://developer.android.com/reference/android/app/DownloadManager.html#addCompletedDownload%28java.lang.String,%20java.lang.String,%20boolean,%20java.lang.String,%20java.lang.String,%20long,%20boole

[2016-06-02 15:40] wkh237 opened #22 "[Android] Download Manager support"
[Download Manager](https://developer.android.com/reference/android/app/DownloadManager.html#addCompletedDownload%28java.lang.String,%20java.lang.String,%20boolean,%20java.lang.String,%20java.lang.String,%20long,%20boolean%29) provides better UX for Android users, we should add support for this.

Also, download file using download manager can avoid problems when app is in suspended.

- [x] Download

[2016-06-03 07:52] wkh237 commented on #21
Added an option for `config` API,
[code]

[2016-06-03 07:53] #21 closed

[2016-06-05 08:27] #18 closed

[2016-06-05 08:28] #17 closed

[2016-06-05 08:28] #8 closed

[2016-06-06 11:15] vince-rowe opened #23 "Android runtime permissions"
Hi,

Android 23 runs with runtime permissions, so if you want to write to the downloads folder for example you don't just state that in the manifest file, you also have to have a runtime check and confirmation from the user.

https://developer.android.com/training/permissions/requesting.html

I can't see that how this has been implemented in this module, if it hasn't due to being outside of scope

[2016-06-06 14:54] wkh237 commented on #23
Hi @vince-rowe , great thanks for informing! I've considered for a while, this problem will become more and more general for RN developers since the mechanism will finally become a standard in mainstream Android devices, and some unified solution may appear (perhaps it will finally become part of official API). Therefore I do not tend to implement the feature in this module.

But It is necessary t

[2016-06-06 15:01] vince-rowe commented on #23
Hi,

That all makes sense. The solution you linked to works as planned and integrates well, so yep a simple README update would be great for future reference.

Thanks

[2016-06-06 15:10] wkh237 commented on #23
Great 👍, I've updated the README in [this commit](https://github.com/wkh237/react-native-fetch-blob/commit/fd5900ca112e58bfeaedfc5eb2e82d5e8bf8ef2b).

[2016-06-07 00:25] #23 closed

[2016-06-07 04:45] wkh237 opened #24 "[IOS] NSURLSession support"
When app turned into background, HTTP connections will be interrupt. This would be a problem when transmitting large data.

[2016-06-13 14:13] wkh237 commented on #24
This change will launch in 0.5.2.

[2016-06-13 14:19] wkh237 opened #25 "[Android] Switch to OKHttp"
React-Native implements `fetch` API using [OKHTTP](https://github.com/square/okhttp), we should consider use it.

TODOs
- [x] Android content URI read problem
- [x] Multipart content length correctness
- [x] Documentation

[2016-06-14 17:01] PimDeWitte opened #26 "Responses come back but callback is never called"
Hey, I'm seeing a strange issue on Android when I try to use this lib.
<img width="1261" alt="screen shot 2016-06-14 at 9 59 44 am" src="https://cloud.githubusercontent.com/assets/8763534/16051957/d9340710-3216-11e6-9795-83e7a551ab43.png">

I'm working on an application that needs to download images from the web, and store them on device. However, as you can see, the process is completed by AsyncH

[2016-06-14 17:19] wkh237 commented on #26
Hi @PimDeWitte , thanks for your informing. I am looking into this issue, but I need some time. Besides, I noticed that your `config` have both `fileCache` and `path` property, if you're going to save the file to an absolute path, the `fileCache` property won't be necessary. `fileCache` property means it will use a temp path, by design, it will be ignored when `path` has value : )

[2016-06-14 18:13] PimDeWitte commented on #26
I figured it out. The GET parameters are not respected in android

e.g.

http://google.com?q=X will be sent properly on iOS, but will be sent as http://google.com on android @wkh237

[2016-06-14 19:59] PimDeWitte commented on #26
@wkh237 any direction where I could look? Pretty urgent for me to get this fixed. This is so much better then the react-native-fs lib :-)

[2016-06-15 03:13] wkh237 commented on #26
@PimDeWitte , great thanks for your information! Looks like I added params twice on Android. So the server doesn't response as expect.

I've just solved this issue but it's based on `0.5.2` branch, the IOS HTTP implementation is quite different from previous version, if you're going to fix it base on `0.5.1` please check [here for the implementation](https://github.com/wkh237/react-native-fetch-bl

[2016-06-15 03:22] PimDeWitte commented on #26
@wkt
thanks so much!

[2016-06-15 03:50] wkh237 opened #27 "Make read/write file API easier to use"
The only way to read/write file is using file stream, there should be some handy API make this easier.

for example

[code]

- [x] IOS implementation
- [x] Android implementation
- [x] Test cases

[2016-06-15 03:56] wkh237 opened #28 "Add file access API for direct access RNFetchBlobResponse when the response is a file path"
When response is a file path, we should be able to access the file by using the response object directly, such as

[code]

[2016-06-16 01:34] #26 closed

[2016-06-16 14:21] wkh237 commented on #24
Already merged into 0.5.2 branch, close issue.

[2016-06-16 14:21] #24 closed

[2016-06-20 20:35] KyKyPy3 opened #29 "Self signed certificates"
Hi. I tried to use your library and get a problem if the site uses self signed certificate. Do you have any solution for that?

[2016-06-21 01:10] wkh237 commented on #29
Hi @KyKyPy3 , thanks for your report, I will try to add an option for that.

[2016-06-21 09:00] wkh237 commented on #29
Hi @KyKyPy3 , I've published a new version (`v0.5.3`) with an option added to `config`, so that you can create connection to a self-signed server

[code]
please try if this solve the problem.

[2016-06-22 09:32] KyKyPy3 commented on #29
Hello. I verify your fix and it works. Many thanks for the quick response.

[2016-06-22 09:32] #29 closed

[2016-06-23 13:55] pgonzalez opened #30 "[iOS] Cannot read property 'DocumentDir' of undefined"
Hi!
I have an issue when I tried to integrate this module in my code. This error appears at start launch in the simulator/device.
Do you know what can I do?
![simulator screen shot 23-06-2016 9 52 00](https://cloud.githubusercontent.com/assets/1370775/16305545/513b0e30-3928-11e6-92ce-b9b2263d57e3.png)

[2016-06-23 15:04] wkh237 commented on #30
@pgonzalez , did you run `rnpm link` after `npm install --save react-native-fetch-blob` ? it looks like native module not linked.

[2016-06-23 15:14] pgonzalez commented on #30
@wkh237 yes, I did and I still have this error

[2016-06-23 16:49] wkh237 commented on #30
@pgonzalez , I'm still looking into the problem, I've tried creating a new project and install the package, but I could not reproduce the error. If you're developing on IOS, please check the following settings.

Make sure the module is loaded in your .xcodeproj (should be located in ios/APPNAME/APPNAME.xcodeproj)

<img width="235" alt="2016-06-24 12 41 00" src="https://cloud.githubusercontent.com/

[2016-06-23 18:36] pgonzalez commented on #30
when I added to Linked Frameworks and Libraries, I get
[code]

[2016-06-24 00:24] wkh237 commented on #30
Okay, looks like something went wrong when linking native modules, it would be nice if you could provide me a more complete build log and RN version of the project, I believe it would be helpful !

[2016-06-24 14:08] pgonzalez commented on #30
`Found Xcode workspace App.xcworkspace
Launching iPhone 6 (9.2)...
Building using "xcodebuild -workspace App.xcworkspace -scheme App -destination id=B06E3C4E-5759-43F1-8C98-534E7D017C68 -derivedDataPath build"
User defaults from command line:
    IDEDerivedDataPathOverride = < App Directory >/ios/build

=== BUILD TARGET RCTImage OF PROJECT RCTImage WITH CONFIGURATION Debug ===

Check dependencies

[2016-06-24 14:08] pgonzalez commented on #30
react-native-cli: 0.2.0
react-native: 0.27.2

[2016-06-24 14:53] jonesdar opened #31 "[iOS] Can't build without ARC errors"
RNFetchBlobNetwork.m:32:13: ARC forbids synthesizing a property of an Objective-C object with unspecified ownership or storage attribute
RNFetchBlobNetwork.m:35:13: ARC forbids synthesizing a property of an Objective-C object with unspecified ownership or storage attribute
RNFetchBlobNetwork.m:36:13: ARC forbids synthesizing a property of an Objective-C object with unspecified ownership or storage

[2016-06-24 14:54] jonesdar commented on #31
The properties it's complaining about are:

@property (nullable, nonatomic) RCTResponseSenderBlock callback;
@property (nullable, nonatomic) CompletionHander fileTaskCompletionHandler;
@property (nullable, nonatomic) DataTaskCompletionHander dataTaskCompletionHandler;

[2016-06-24 15:20] wkh237 commented on #31
Hi @jonesdar , I think this problem is similar to #30 , I'm still trying to reproduce this error, looks like these block properties can't be nullable, if you remove `nullable`  from those properties, do you still get the error ?

[2016-06-24 15:25] wkh237 commented on #30
Thanks @pgonzalez , this is helpful ! I'm think I know where the problem is : )

[2016-06-24 15:39] jonesdar commented on #31
Hello. No that doesn't help. Adding `strong` fixes things though - is that the right thing to do?
It's interesting that you don't see these errors - is it related to the version of Xcode perhaps? I'm using 7.2.

[2016-06-24 15:42] jonesdar commented on #31
I think it might be Xcode version related. Our build machine has just built things successfully and it's using Xcode 7.3.

[2016-06-24 16:07] wkh237 commented on #31
@jonesdar great thanks ! I'm using Xcode 7.3 and I can build it without error, I'll release a version after doing some test.

[2016-06-24 16:11] wkh237 commented on #30
@pgonzalez , what your the version of your Xcode? It might be a problem with Xcode version, please check #31 .

[2016-06-25 04:12] wkh237 commented on #30
I've published a new version `v0.5.5` which removed these problematic code, I think it should be able to solve this problem: )

[2016-06-25 04:35] wkh237 opened #32 "[IOS] Add status bar network indicator"

[2016-06-26 03:25] #32 closed

[2016-06-27 10:11] jonesdar commented on #31
Thanks @wkh237. That fixes the 3 errors in RNFetchBlobNetwork.m. The one in RNFetchBlobFS.h is still there though. Adding `strong` to `@property (nonatomic) RCTResponseSenderBlock callback;` seems to fix it.

[2016-06-27 10:30] wkh237 commented on #31
@jonesdar thank you, Looks like I missed that one in `RNFetchBlobFS.h`, I'll fix that one ASAP.

[2016-06-27 14:48] jonesdar commented on #31
Xcode 7.2 build is now working for me. Thanks @wkh237 for the quick turnaround.

[2016-06-27 14:49] wkh237 commented on #31
@jonesdar you're welcome 👍

[2016-06-29 10:23] alvaromb commented on #30
I got rid of this error just rebuilding the project.

[2016-06-30 01:12] #31 closed

[2016-07-01 17:31] jbrodriguez opened #35 "Network optimization (don't re-download if present in cache)"
Hi @wkh237, awesome library, much needed in React Native.

My suggestion is:
- if fileCache is set to true
- when a fetch is issued, check if that url has already been downloaded
- if it has, return the data path
- if it hasn't, request from the server as normal

Let me know if you will pursue such a change, in any case I'll take a look at the code and see if I can come up with something (at least

[2016-07-02 04:50] wkh237 commented on #35
Hi @jbrodriguez , it would be great to have such mechanism to reduce network traffic, but I'm wondering if it is sufficient to make such decision merely base on the URL. Perhaps it would be better to implement something that uses [cache control headers](https://developers.google.com/web/fundamentals/performance/optimizing-content-efficiency/http-caching) ? This might already included in AsyncHttpC

[2016-07-02 17:57] jbrodriguez commented on #35
@wkh237 right, cache control headers sounds great, the only downside is that you need to have control of the server: if you don't, then it's possible that you won't receive the headers.

An alternative could be to use a 'key' property, pretty much the same as what React does with every component. It 'key' is not present, the fallback would be the url.

I'll take a look at both ideas.

[2016-07-03 14:03] jbrodriguez commented on #35
That gives me an idea ...

If there's a cache entry in the config object, md5 that string to create the filename for the blob and check for its presence before attempting to download.

It there's no cache entry, work as it currently does.

What do you think ?

[2016-07-03 14:06] #30 closed

[2016-07-03 15:14] wkh237 opened #36 "Move API document to wiki"
The README.md has to much content, I think it would be better to leave recipes in README.md and move API references to wiki.

[2016-07-03 15:17] wkh237 commented on #35
Do you mean that there will be something like this ?

[code]

[2016-07-03 15:50] wkh237 commented on #35
Do you mean that there will be something like this ?

[code]
Well it's fine, but I prefer to make it simply a `boolean` let developers decide if they're going to use the cache mechanism, just like what browsers do :D

[2016-07-03 16:56] jbrodriguez commented on #35
What you mean is for the caching to be transparent to the developer (just set a flag and forget it) ?

But in the end you need some key (be the cache entry, be the url or any other idea) to check if the resource has changed or not.

This is how cache busting works in browsers.

For instance https://www.quora.com/How-does-browser-caching-works.

Caching generally works on url and to you can 'bust'

[2016-07-04 02:09] wkh237 commented on #35
Hi @jbrodriguez , just in case someone may already using it in their application, changing default behavior may cause unpredictable problem,  so I'd like to make this mechanism `optional` at this moment.

By the way, I think use `key` property is a good idea. It also inspired me that perhaps we can design some components which can be used this way

[code]

[2016-07-04 02:24] jbrodriguez commented on #35
Hi @wkh237,

Ok, let me see if I follow.

Your suggestion would be something like:
[code]

If developer decides no cache, then
[code]
or
[code]
// in the latter case, cache is ommitted which is equivalent to cache: false

Is that how you're visualizing it ?

[2016-07-04 02:33] wkh237 commented on #35
@jbrodriguez , Thank you for your patient, I think a `key` property is enough : )

use cache
[code]

not to use cache, work as it currently does

[code]

How do you think ?

[2016-07-04 08:45] #36 closed

[2016-07-04 09:24] #27 closed

[2016-07-04 09:52] wkh237 commented on #22
released in `0.6.0`

[2016-07-04 09:52] #22 closed

[2016-07-04 09:53] wkh237 commented on #28
released `0.6.0`

[2016-07-04 09:53] #28 closed

[2016-07-04 11:56] vaibhawc opened #37 ".progress() not working"
Are you sure this works? As in my case it doesn't seem to enter in the functions and jumps directly to .then()/.catch(). It waited for the file to upload but never executed anything inside the .progress().
Or may be you could provide an example(point me to it) on how to use it.
Btw, thanks, I'm new to RN and iOS, when nothing else seemed to work, rnfb worked well.
here:
`trySendingImageToServer(ur

[2016-07-04 13:53] wkh237 commented on #37
Hi @vaibhawc , thank you for your information! Looks like the progress report mechanism is broken since I change the HTTP implementation. I'll fix this issue.

[2016-07-04 14:17] jbrodriguez commented on #35
@wkh237, yes that looks great.

I'll take a look at this asap.

[2016-07-04 16:37] wkh237 commented on #37
@vaibhawc , thank you for your assistance, this issue has been solved in [1b2d9a7](https://github.com/wkh237/react-native-fetch-blob/commit/1b2d9a7bf4b2bfe30c4774f83130c457e48180d0) and will be included in next release `0.6.1`,  I'll publish this version after doing some more tests on Android.

[2016-07-05 05:50] vaibhawc commented on #37
Thank you @wkh237 , that was very quick and sincere. I am actually trying to send an image where I need to know progress as well handle cancel and resume. I haven't tried it yet, but will have to handle it by my own. It might be a good idea to consider such options like onCancel, onResume. Basically they are inspired by the firebase-storage-api.

[2016-07-05 06:02] wkh237 commented on #37
Hi @vaibhawc , thank you for your suggestion and feedback, I've published a new version `0.6.1` on `npm`, please re-install the package and see if that fulfills your use case. You're welcome to leave a comment here if there's any question : ) As for the `onResume` and `onCancel` options, I think those are very important features that I'm considering to add them into this module 👍

[2016-07-05 06:04] wkh237 opened #39 "HTTP request should be able to cancel and resume"
Related to #37 , `cancel` mechanism will be added into `0.7.0`.

`resume` can be achieved by simply  using `Range` header, and `appendFile` function. That might be an inefficient way but we will improve that after #56 .

- [x] Android part (cancel request)
- [x] IOS part (cancel request)
- [x] test cases
- [x] documentation

[2016-07-06 13:47] sadhwaniyash6 opened #41 "Library doesn't compile with project on IOS"
I get the below error message when I try to compile my project in IOS. The project works fine on android. I have followed the steps as given in the installation section.
![screen shot 2016-07-01 at 7 15 41 pm](https://cloud.githubusercontent.com/assets/11190073/16619986/48b507b2-43ae-11e6-82d9-3bc160eb0c80.png)

[2016-07-06 14:21] wkh237 commented on #41
Hi @sadhwaniyash6 , thank you for your report. Could you try install the latest version `0.6.1` from npm ?  According to your screenshot, seems the package you've installed is not latest version the latest RNFetchBlobResp.h should look like [this](https://github.com/wkh237/react-native-fetch-blob/blob/master/src/ios/RNFetchBlobNetwork.h#L9). I believe the bug has already been fixed on `0.5.7`. Thi

[2016-07-06 15:59] vaibhawc commented on #37
Hi @wkh237 ,It works well, thank you. RNFB is an amazing problem solver for me.
But there are so many functionalities not provided in RN that might be provided by libraries like this in future. One such functionality, which I don't require, but found out while trying firebase-storage, is that FBStorage requires blob through to be passed to its API's 'put()' method which essentially means I can't u

[2016-07-06 15:59] #37 closed

[2016-07-06 20:18] smartt opened #42 "Error: `_reactNativeFetchBlob2.default.readStream is not a function`"
I'm trying to use readStream, but react native is giving me the red-screen-of-death with the message, "_reactNativeFetchBlob2.default.readStream is not a function".

The package was installed using `npm` and linked using `rnpm`.  And ideas?

Versions:
 - "react-native": "0.28.0"
 - "react-native-fetch-blob": "^0.6.1"
 - iPhone 6 simulator running iOS 9.3
 - XCode 7.3.1

[2016-07-06 21:22] smartt opened #43 "Support for iOS assets-library:// files"
It's unclear from the docs whether or not this library can be used to upload images from an iOS user's camera roll.  The React Native camera roll API returns file URIs like, `assets-library://asset/asset.JPG?id=1234-5678-ABCDE-3210&ext=JPG`.  Should I be able to use `RNFetchBlob.wrap()` on such a URI, like:

[code]

[2016-07-07 01:17] wkh237 commented on #42
Hi @smartt , I've just run [the tests](https://github.com/wkh237/react-native-fetch-blob/blob/master/test/test-0.5.1.js#L49) on iPhone 9.3 and simulator, but it doesn't give me this error. According to your error message, I suppose you're using the package this way

[code]

However `readStream` is a function  in `fs` namespace, therefore it should be called this way

[code]

[2016-07-07 01:41] wkh237 commented on #43
@smartt , thank you for giving suggestion and use case. I'm already working on accessing assets, but there's quite a difference between Android and iOS. I will add this requirement to our `0.7.0` milestone.

[2016-07-07 01:53] wkh237 commented on #37
@vaibhawc , I'm greatly appreciate your thoughtful comments that helped improve the module. Thought we can not use FireBase web SDK directly, I suppose it is possible to use its [REST API](https://firebase.google.com/docs/reference/rest/database/#section-streaming-put) alternatively. I'm not familiar with FireBase, but I'll take some and time give it a try. 👍

[2016-07-07 04:02] wkh237 opened #44 "Implement Blob and other polyfills"
According to #37 advice from @vaibhawc , perhaps we should consider implement `Blob` class on RN since we already have network and fs APIs. This may let some JS libraries that depends on web API becomes available in RN. At least we can try to make [firebase.storage](https://firebase.google.com/docs/reference/js/firebase.storage.Storage) work.

[Work in progress document](https://github.com/wkh237/

[2016-07-07 07:23] wkh237 opened #45 "Support access file from camera roll and assets"
Related to #43 , development branch [`feat_45`](https://github.com/wkh237/react-native-fetch-blob/tree/feat_45).

- [x] Android implementation
- [x] IOS implementation
- [x] Test cases

[2016-07-07 14:50] smartt commented on #42
Got it.  I opened a PR https://github.com/wkh237/react-native-fetch-blob/pull/46 to update the example in the README to use `fs` to hopefully avoid this confusion in the future.

[2016-07-07 14:50] #42 closed

[2016-07-08 22:01] smartt opened #47 "Allow setting custom Content-Type within multi-part forms"
I had a case when working with an API where I needed to specifically set the Content-Type (from "application/octet-stream" to "image/jpeg".  As a quick hack, I implemented it this way [on the feat_45 branch]:

[code]

..and used it like this:

[code]

I figured you might want to implement it different so that it's optional, and works on Android, so no PR currently :-)

[2016-07-08 23:33] wkh237 commented on #47
Hi @smartt , great thank you for your help, I think this is great,  I'll merge this into feat_45 branch 😄

[2016-07-08 23:48] wkh237 commented on #47
@smartt this change has been merged into [feat_45](https://github.com/wkh237/react-native-fetch-blob/commits/feat_45). Please see 2e3507549c083db6f4b11168585c7300e2db1b3c.

[2016-07-09 16:34] wkh237 commented on #45
feature released `0.6.2`

[2016-07-09 16:34] #45 closed

[2016-07-09 16:38] wkh237 commented on #47
Hi @smartt , I've released `0.6.2` which implemented this feature, please check if it work as expected, thank you 😏

[2016-07-09 16:39] wkh237 commented on #43
Hi @smartt , I've released `0.6.2` which implemented this feature, please check if it work as expected, thank you 😏

[2016-07-09 18:39] PimDeWitte opened #48 "Changes that slowed down download?"
Hi guys,

I'm using this library to download a massive amount of separate files to disk (1k+ per load). It's a mapping application, and so this is necessary.

Since the latest version (I upgraded from 0.4.2 to 0.5.2) downloads have slowed down significantly. Any suggestions where I can look to fix this? It almost seems like the requests are now syncrhonous instead of asynchronous. Unable to perfor

[2016-07-10 00:57] wkh237 commented on #48
Hi @PimDeWitte , thank you for your information, I think this is a significant issue, and I'd like to figure out what's the root cause, but I need more information.

Does this happens on Android ? Or it's IOS only problem ? I've change the HTTP implementation since 0.5.0 the requests now handled by main thread asynchronously. Could you provide informations such as number of concurrent connections,

[2016-07-10 05:30] wkh237 commented on #48
@PimDeWitte , I've found possible solution, could you try install the package `0.6.3-dev.1` ? This is a version based on branch `issue_48`

[code]

I found that before applying this change, concurrent HTTP request are limited to a very small number. The commit bd92225 improved the limit number, I'm able to download 1500 files (each has about 100kb) in 40 seconds after this commit.

If this fix the

[2016-07-11 08:41] wkh237 opened #49 "Seperate upload and download progress event"
IOS supports both upload and download progress, but there's only one way to register progress event handler, this will cause unexpected progress event triggering on IOS.

- [x] implement android upload progress in `0.7.0`

[2016-07-11 16:03] smartt commented on #47
Working for me in the emulator!  Thank you--this is fantastically helpful!

[2016-07-11 16:08] wkh237 commented on #47
Great ! I'm glad I could  help 😄

[2016-07-11 16:58] wkh237 commented on #49
Related to #25

[2016-07-12 06:33] dphov opened #51 "[Android] undefined is not an object (evaluating 'RNFetchBlob.DocumentDir')"
Hello!

This error appears at start launch in the simulator/device.

In my example I'm trying implement this part of code, how we can avoid this issue?

Thank you in advance.

`  componentDidMount() {
    RNFetchBlob
  .config({
    // add this option that makes response data to be stored as a file,
    // this is much more performant.
    fileCache : true,
  })
  .fetch('GET', 'https://homepages.

[2016-07-12 06:36] wkh237 commented on #51
Hi @dphov , It looks like your package is not linked properly, did you restart your packager after install the package ? the module has many native code so you have to rebuild the project after install it.

[2016-07-12 06:48] dphov commented on #51
Hi @wkh237 ,
1. I'm restarted packager
2. ran `npm install`
3. ran `rnpm link`

And I got the same error

[2016-07-12 06:52] wkh237 commented on #51
Did you save the package dependency to `package.json` ? rnpm does not work if the package could not be found in `package.json`.

could you try the following commands ?

[code]

[2016-07-12 06:58] dphov commented on #51
package.json after running commands
`  "dependencies": {
    "react": "15.2.0",
    "react-native": "0.29.0",
    "react-native-android-permissions": "^0.0.6",
    "react-native-cli": "^1.0.0",
    "react-native-fetch-blob": "^0.6.3-dev.1",
    "undefined": "^0.1.0"
  }`

got same error  again

[2016-07-12 07:05] wkh237 commented on #51
Hi @dphov , I've noticed that the error message is saying `RNFetchblob.DocumentDir` instead of `RNFetchBlob.fs.dirs.DocumentDir`, could you try changing it from your code and see if this works ?

[2016-07-12 07:22] dphov commented on #51
fs.js
[code]

Error:
![225512622_13309556757415055642](https://cloud.githubusercontent.com/assets/8191815/16758447/f9828b48-482a-11e6-8265-bf557c3ea934.jpg)
![225524099_2649258526146943969](https://cloud.githubusercontent.com/assets/8191815/16758481/331824da-482b-11e6-9668-06879c186dd1.jpg)

[2016-07-12 07:25] wkh237 commented on #51
This may also related to changes in `0.29` , could you check `MainApplication.java` in `/android/app/src/main/java/com/<project name>t/MainApplication.java`, see if the RNFetchBlobPackage is added into package list ?

[code]

Add the missing package and compile to see if it work 👍

[2016-07-12 07:30] wkh237 commented on #51
- [ ] Add 0.29 instruction to README.md
- [ ] Change rnpm link script

[2016-07-12 07:43] dphov commented on #51
MainApplication.java
[code]
added import com.RNFetchBlob.RNFetchBlobPackage;
added new RNPermissionsPackage()

Error:

![222829449_16365169123451930029](https://cloud.githubusercontent.com/assets/8191815/16758974/2129dfd6-482e-11e6-930d-52e1d2ec66c8.jpg)

![225514929_9654000154810424985](https://cloud.githubusercontent.com/assets/8191815/16758984/29117b46-482e-11e6-850c-f966ee788d58.jpg)

[2016-07-12 07:47] wkh237 commented on #51
I think you can undo the change about `RNFetchBlob.DocumentDir` I mentioned above.

[code]

I think  it should then work properly !

[2016-07-12 07:54] dphov commented on #51
Hurray! It works! Thank you!

[2016-07-12 07:56] wkh237 commented on #51
That's great 👍  Please feel free file an issue if something's going wrong 😄

[2016-07-12 07:57] dphov commented on #51
Sure! 😄  👍

[2016-07-12 08:02] #51 closed

[2016-07-12 08:41] wkh237 opened #53 "RNPM link script is not working on 0.29 applications"
Reference #51 , we should update rnpm script so that the installation could be easier.

[2016-07-12 10:38] #47 closed

[2016-07-15 01:49] wkh237 commented on #53
Related facebook/react-native#8603, which is fixed in [0.29.1](https://github.com/facebook/react-native/commit/214a41d62af6c752bf34e40bc0b046790a009e3d)

[2016-07-15 01:53] wkh237 commented on #41
Closing this Issue closed due to no response from author, besides this issue should have been fixed in previous release.

[2016-07-15 01:53] #41 closed

[2016-07-15 07:18] wkh237 commented on #53
Looks like the official patch not working on this issue, we still have to do it ourself.

[2016-07-16 06:57] wkh237 commented on #25
TODOs
- [ ] Android content URI read problem
- [ ] Multipart content length correctness

[2016-07-17 13:53] wkh237 opened #56 "New fs APIs make file concat and replace more efficient"
Consider the following scenario

If we wish to concat two files or replace content of one file by another, we have to cache the file content in JS context and then write the data to destination.

[code]

This seems not efficient especially when the file is big, that cache will likely consume up the available memory.

Therefore, I think we should make `writeStream`, `writeFile`, and `appendFile` ac

[2016-07-18 10:08] #53 closed

[2016-07-18 10:09] #49 closed

[2016-07-18 10:09] #25 closed

[2016-07-18 13:25] wkh237 commented on #44
Related to [facebook/react-native#8684](https://github.com/facebook/react-native/issues/8684).

[2016-07-18 15:47] wkh237 opened #57 "[IOS] Unknown type name 'namespace'"

[2016-07-18 15:51] #57 closed

[2016-07-19 11:40] Larney11 opened #58 "“RNFetchBlob.fetch is not a function”"
I keep receiving the error “RNFetchBlob.fetch is not a function”.

I put a more [detailed description of the error on StackOverflow](http://stackoverflow.com/questions/38457345/npm-react-native-fetch-blob-rnfetchblob-fetch-is-not-a-function) if anyone cares to take a look. Thanks.

[2016-07-19 13:01] Larney11 commented on #58
The problem was I was importing the package wrong.

I was importing it with:
var RNFetchBlob = require('react-native-fetch-blob');

When it should have been:
var RNFetchBlob = require('react-native-fetch-blob').default;

I forgot the ".default".

[2016-07-19 13:01] #58 closed

[2016-07-19 14:06] wkh237 commented on #58
@Larney11 , Thank you for point out this problem, though the problem has been solved, others who does not using ES6 may still run into the same situation.

I'll put related informations to [Trouble Shooting](https://github.com/wkh237/react-native-fetch-blob/wiki/Trouble-Shooting) page for reference. It is also considerable to change the way module is exported if possible, I'' open an issue for thi

[2016-07-19 14:12] wkh237 opened #59 "Compatible to ES5"
Refer to #58 , since the module uses ES6 style export, developers who uses `require('react-native-fetch-blob')` will not be able to use the module directly. Though they can still uses by using `default` property, but it would be better if the module can be used more easily.

[2016-07-19 15:34] Larney11 opened #60 "Cannot access base64 data from response"
I cannot access the base64 data from response data.
For detailed explanation [check out this write up](http://stackoverflow.com/questions/38461979/npm-react-native-fetch-blob-how-to-access-base64-data-inside-object).

[2016-07-19 15:42] wkh237 commented on #60
Hi @Larney11 , the resonse object looks fine in the screen shot, can you explain more about how you access `resp.data` ? What's the error message ? Because that function looks fine in our test case.

[2016-07-19 15:58] Larney11 commented on #60
@wkh237 There is no error, the emulator won't open.
I now access it with resp.data and return it.
The response is then used for the source of the image.
`<Image source={{uri: resp.data}} style={{width: 100, height: 50}} />`.

The problem is now that the image will not display when 'resp.data' is returned.
Am I supposed to decode the response or something?

Thanks for the help.

[2016-07-19 16:03] wkh237 commented on #60
If that the resp.data doest contains a BASE64 encoded image, you can try the following usage

[code]

I think you may missed the MIME prefix, try it and see if the image displayed 👍

[2016-07-20 08:22] Larney11 commented on #60
@wkh237 That works perfect! Thanks very much!

[2016-07-20 08:26] wkh237 commented on #60
You're welcome :smiley:

[2016-07-20 11:36] #43 closed

[2016-07-20 14:03] #39 closed

[2016-07-21 08:25] Arkanine opened #62 "Configuration with name 'default' not found."
Hi,

When I try to run app by 'react-native run-android' I get this err:
A problem occurred configuring project ':app'.
Cannot evaluate module react-native-fetch-blob : Configuration with name 'default' not found.
Also I follow installation guide you provided. Please help me figure out with this issue.

Kind regards

[2016-07-21 08:33] wkh237 commented on #62
Hi @Arkanine , this looks like the package not linked. I think I need more information to figure out what's the root cause. What doest your `settings.gralde` looks like ?

If you're using Android Studio, the project structure should looks like this

<img width="311" alt="2016-07-21 4 31 03" src="https://cloud.githubusercontent.com/assets/5063785/17016197/8dab5dae-4f60-11e6-9670-2c18079768e8.png">

[2016-07-21 08:58] Arkanine commented on #62
My structure something different and looks this way:
![structure](https://cloud.githubusercontent.com/assets/5641601/17017011/4bcd42ec-4f3a-11e6-80af-4d16ea9b86cf.jpg)
Also you can see settings.gralde

[2016-07-21 09:11] wkh237 commented on #62
@Arkanine , could you check if `react-native-fetch-blob` exists in your project's `node_modules` folder ? Looks like the project could not be found in that location.

[2016-07-21 09:12] Arkanine commented on #62
Yea, react-native-fetch-blob exists in node_modules folder

[2016-07-21 09:25] wkh237 commented on #62
@Arkanine , I've done some tests on new 0.26~0.29 environments, unfortunately I could not reproduce this issue, the module installed properly. What's the version of your react-native ?

Perhaps you can try remove the package and reinstall it  ?

[2016-07-21 09:29] Arkanine commented on #62
Ok, I'll try to reinstall it.
React-native 0.25.1

[2016-07-21 09:42] wkh237 commented on #62
@Arkanine , I've somehow reproduced the problem ! I removed `react-native-fetch-blob` from `Project Structure` and click the `-` button. Then I click the `+` button import a Gradle project, the error occurs.

<img width="199" alt="2016-07-21 5 38 51" src="https://cloud.githubusercontent.com/assets/5063785/17018394/1f2ea1ec-4f6a-11e6-8dc8-aee3e5d72fb0.png">

And I fix the problem simply remove the

[2016-07-21 09:50] wkh237 commented on #62
Besides, after removing the dependency from `Project Setting`, make sure the following lines exists in `settings.gradle`.

[code]

[2016-07-21 10:01] Arkanine commented on #62
@wkh237 I'm just reinstalled module.
npm install --save react-native-fetch-blob
rnpm link
All required lines exists in  settings.gradle/MainActivity.java/build.graddle
But for now I'm run in to this issue:
![screen](https://cloud.githubusercontent.com/assets/5641601/17019024/19c921ae-4f43-11e6-9c2c-b1c8e1030a1b.jpg)

[2016-07-21 10:05] wkh237 commented on #62
Please try adding this line to `build.gradle` (Module:app), see if it works

[code]

[2016-07-21 10:10] Arkanine commented on #62
The same((

[2016-07-21 10:13] wkh237 commented on #62
Can you see `react-native-fetch-blob` project in the file tree now? If you can, add

[code]

To `build.gradle`(Module:react-native-fetch-blob)  dependencies block.
<img width="533" alt="2016-07-21 6 13 00" src="https://cloud.githubusercontent.com/assets/5063785/17019432/cd566300-4f6e-11e6-8140-c33b0363d3e3.png">

[2016-07-21 10:36] Arkanine commented on #62
Thanks @wkh237!
For now module works fine.

[2016-07-21 10:51] wkh237 commented on #62
Phew! So great to hear that!! I think the package missed OkHttp dependency after we change Network module to OkHttp, I will fixe it and publish a new version : )

[2016-07-21 13:30] cubbuk commented on #62
I am having the same error, using react-native 0.27. Here is my settings.gradle file:
![image](https://cloud.githubusercontent.com/assets/1243896/17024340/3f314396-4f60-11e6-99fe-209e1c7c3ff1.png)

The error I am getting is:

[code]

[2016-07-21 13:44] wkh237 commented on #62
Hi @cubbuk , This error usually means that the path in `settings.gradle` point to a folder that does not contains a `build.gradle` file, could you please see if the relative folder is correct ?

[2016-07-21 13:57] cubbuk commented on #62
This is the path all my other projects are residing on. And when I check `node_modules` folder the library is there, and the `build.gradle` file is residing at the pointed directory. Have any idea?

[2016-07-21 14:10] wkh237 commented on #62
@cubbuk I think this problem might related to Gradle, could you tell me what's your gradle version ?

[2016-07-21 14:13] cubbuk commented on #62
It is 1.5, I see that this library uses 2.0. Could it be because of it?

[2016-07-21 14:17] wkh237 commented on #62
@cubbuk it might be the problem, could you try changing the `build.gradle` as I mentioned above and see if that works?  Thank you 😭

[2016-07-21 14:18] cubbuk commented on #62
I made it same with the library, but the problem still occurs, any other ideas =(

[2016-07-21 14:24] wkh237 commented on #62
Okay .. perhaps we need more logs .. try `gradlew.bat --debug clean buildPlugin` and there will be some detailed error message.

[2016-07-21 14:30] cubbuk commented on #62
Here is the result, couldn't figure out anything specific?

[code]

[2016-07-21 14:54] wkh237 commented on #62
I have no idea about this now, I'll use my ubuntu box try to reproduce this problem ..

[2016-07-21 14:56] cubbuk commented on #62
Thanks a lot, my main problem is that I am trying to upload videos and I can upload video files on the phone if they are around 5 MB, but for videos larger than 10 MB I am getting a `File Descriptor closed` error, and trying to find a solution for this. I hope this library will help me achieve that. Thanks again.

[2016-07-21 14:58] wkh237 commented on #62
No problem, I'll try to figure out what's going on.

[2016-07-21 15:10] wkh237 commented on #62
@cubbuk By the way , did you try to open the project by Android Studio ? If you have Android Studio, you might try the step above.

[2016-07-22 06:38] wkh237 commented on #44
merged into `0.8.0`

[2016-07-22 12:50] cubbuk commented on #62
I applied what you told and worked on Android Studio, removed the dependency then manually added again to settings file and I achieved running the project; however this time I am getting `undefined is not an object RNFetchBlob.DocumentDir...' error. I checked issue #51 but as I am using react 0.27 I couldn't figure out what to do, I have `new RNFetchBlobPackage()` in getPackages() too. Any idea?

[2016-07-22 13:40] wkh237 commented on #62
Hi @cubbuk , that looks like RNFetchBlob not got linked, `RNFetchBlob` is undefined. Does the `react-native-fetch-blob` project correctly loaded ? That should look like this.

<img width="308" alt="2016-07-22 9 39 08" src="https://cloud.githubusercontent.com/assets/5063785/17058830/c1e08924-5054-11e6-8fec-03a99f210d9f.png">

[2016-07-23 08:36] wkh237 commented on #62
@cubbuk , I somehow figured out the problem might caused by the project's react-native version. Because we're using OkHttp3 in 0.7.0 and react-native use OkHttp2 in pre 0.27 versions, it we manually add OkHttp3 dependency that will result in app crash or build failed. You may need to try  upgrading your application by command

[code]

and install latest react-native-fetch-blob which I published to

[2016-07-23 18:22] wkh237 opened #63 "Support regular request"
- [x] Android implementation
- [x] IOS implementation
- [x] test cases
- [x] Documentation

[2016-07-23 18:22] #48 closed

[2016-07-24 03:30] wkh237 opened #64 "Make 0.7.0 + compatible to react-native 0.27"
React Native 0.27 uses OkHttp version which will conflict with our module, is there any way to fix this problem ?

[2016-07-25 02:45] wkh237 commented on #44
A workable example base on `0.8.0-alpha.5`

[https://github.com/wkh237/rn-firebase-storage-upload-sample](https://github.com/wkh237/rn-firebase-storage-upload-sample)

[2016-07-25 03:22] wkh237 commented on #44
test case reference

[https://github.com/w3c/web-platform-tests/blob/master/XMLHttpRequest/](https://github.com/w3c/web-platform-tests/blob/master/XMLHttpRequest/)

[2016-07-25 08:53] cubbuk commented on #62
@wkh237 thanks for detailed explanation, but after `react-native upgrade` command I am still getting the error:

`> Cannot evaluate module react-native-fetch-blob : Configuration with name 'default' not found.
`

One thing I noticed is I am using other libraries too and when I check them from Android Studio, the location they are located at is under `node_modules` directory of my application, wher

[2016-07-25 10:56] wkh237 commented on #62
＠cubbuk , I've noticed that there's an extra white space before RNFetchBlob path " ../node_modules/" does it make difference if you remove it?

[2016-07-25 11:25] cubbuk commented on #62
@wkh237 it worked, I didn't even need to any upgrade at all, the reason was the typo =)
Thanks a lot, I will try out uploading from camera roll and so on now.

[2016-07-25 13:40] wkh237 commented on #62
Great ! Well, In order to find the root cause of this problem, I've tested this module on many environments and also changed the rnpm link script.  I'm think that except 0.27, most of versions should work fine on `0.7.5` now.

[2016-07-25 13:42] cubbuk commented on #62
I was able to run it with 0.27.2 after upgrading react-native scripts. Thanks for the help =)

[2016-07-26 03:54] dcworldwide commented on #44
Awesome work. I've quickly tested out uploading a file to firebase on 0.8.0-alpha.5 but I did have an issue.

[code]

I realise this is alpha so there is no point testing it just yet. Just wanted to say I"m really happy your tackling an important problem and am looking forward to using your lib :)

[2016-07-26 05:48] wkh237 commented on #44
@dcworldwide , thank you for your information !  I think you might try removing the prefix `file:` from the path, and see if it works then 👍

[2016-07-26 05:52] wkh237 commented on #62
You're welcome =)

[2016-07-26 05:52] #62 closed

[2016-07-27 09:04] shirleycharlin opened #65 "Enquires for can this works for IOS?"
Hi can I just clarify if this works for IOS too? and I am using E7 :)

Otherwise kindly advise me with alternatives.

Thanks in advance! :)

[2016-07-27 09:07] wkh237 commented on #65
Yes, it should work on both Android and IOS.

[2016-07-27 09:18] shirleycharlin commented on #65
@wkh237  hi! I just tried to understand your codes and found out that you have written for ios. i am going to try it now ! thanks for being RN firebase's saviour! :)

[2016-07-27 14:05] wkh237 commented on #65
You're welcome.

[2016-07-27 14:16] wkh237 opened #66 "Progress event should not trigger when handler is not set"
This is a performance fix, in order to reduce the traffic over RCTBridge upload and download progress event should not trigger when there's no `progress` or `uploadProgress` event handler set.

[2016-07-27 14:34] wkh237 opened #67 "Native to native data access"
Not sure if this is necessary, just a concept.

[See draft](https://github.com/wkh237/react-native-fetch-blob/wiki/Native-to-native-data-access-(Draft))

[2016-07-28 00:39] #65 closed

[2016-07-28 02:13] dcworldwide commented on #44
Ok I'll try that, thanks :+1:

[2016-07-28 02:35] shirleycharlin commented on #44
@dcworldwide  hey I have also encounter the same issue right now. Can I know if you have resolved it? :)

[2016-07-28 02:37] shirleycharlin commented on #44
right now I am encountering with these error message:

Blob verbose: Blob constructor called mime image/jpeg;BASE64 type string length 34
log.js:24 Blob verbose: create Blob cache file from file path RNFetchBlob-file://[object Object]
log.js:24 Blob verbose: register blob onCreated 0
log.js:36 Blob error: RNFetchBlob could not create Blob : [object Object] failed to list path `[object Object]` for

[2016-07-28 02:56] wkh237 commented on #44
@shirleycharlin , I think that's because you're using an object as first argument of Blob constructor.

please refer to [the document](https://github.com/wkh237/react-native-fetch-blob/wiki/Web-API-Polyfills-(work-in-progress)#constructordata-options)

[2016-07-28 03:05] shirleycharlin commented on #44
Hi I understand. I have change it to the string variable.

however, i am not able to create the file. is it because of file:/// ???

Blob verbose: Blob constructor called mime image/jpeg;BASE64 type string length 248
log.js:24 Blob verbose: create Blob cache file from file path RNFetchBlob-file://file:///Users/shirleylee/Library/Developer/CoreSimulator…C6E-B989F2DA34E1/Documents/images/92F4CD3C-28

[2016-07-28 03:49] shirleycharlin commented on #44
I have resolve it. I actually uses the syntax from Mr @dcworldwide  . if you don't mind I would like to copy and paste these code of mine later.

[2016-07-28 04:00] wkh237 commented on #44
@shirleycharlin , great to hear that 👍 Please feel free to leave any comment or message.

[2016-07-29 03:35] #56 closed

[2016-07-29 15:36] Larney11 commented on #60
Hey @wkh237 .
I figured your the man to ask this question. If I was to decode a base64 pdf would it look like this:
`var imageBase64 = "data:application/pdf;base64,"+base64Str;`

[2016-07-29 15:39] wkh237 commented on #60
@Larney11 , If you're going to decode a base64 data you don't need the dataURI prefix (data), just use the BASE64 string as input.

[2016-07-29 15:54] Larney11 commented on #60
@wkh237
Thanks for the response.
I might have used the wrong terminology in my question.

This is my RNFetchBlob method containing the above sample code from the previous question.

`fetchAttachment: function(attachment_uri, attachment_mimetype) {

      return new Promise((RESOLVE, REJECT) => {

         RNFetchBlob.fetch('GET', config.apiRoot+'/app/'+pdf_uri)
           .then((res) => {

[2016-07-29 16:00] wkh237 commented on #60
@Larney11 , Yeah, that looks fine.

[2016-07-29 16:02] Larney11 commented on #60
@wkh237 Thanks for your help! [This I was wondering ](http://stackoverflow.com/questions/38662309/how-to-save-pdf-to-android-file-system-react-native). In case you know anything on react-native-fs.

[2016-07-29 16:06] wkh237 commented on #60
@Larney11 , can I have a look on the BASE64 data you got ? Perhaps the data not encoded correctly.

[2016-07-29 16:10] Larney11 commented on #60
@wkh237 Not sure what you mean by that. Will I console.log() the 'pdf_Base64' and send it to you?

[2016-07-29 16:16] wkh237 commented on #60
Okay 👍

[2016-07-30 02:11] #66 closed

[2016-07-30 23:10] jbrodriguez opened #68 "Suggestions for 0.8.0"
Hi @wkh237, I think it's great how 0.8.0 is coming along.

I'd like to make two suggestions:
- I see you're adding a timeout option. Can it be set in milliseconds rather than whole seconds ?
- Is it possible to get back the http status codes in the response. For example, if you request a resource that doesn't exist, send to the js context the 404. Right now, the status code is hidden.

In any case

[2016-07-31 03:37] wkh237 commented on #68
@jbrodriguez , thank you very much for your suggestions. First, I think it's good to change timeout unit to millisecond rather than second, I'll change the design.

As for the status code supporting, that has been implemented but I'm not yet write it to the document. In `0.8.0` the response object will have an extra method call `info()`, it will return an object like this :

[code]

I've tested th

[2016-07-31 14:54] #63 closed

[2016-07-31 14:55] #44 closed

[2016-07-31 15:39] jbrodriguez commented on #68
Great stuff @wkh237 !

[2016-07-31 18:58] cherniv opened #69 "[IOS] Firebase Storage: Invalid argument in `put` at index 0: Expected Blob or File."
First of all, thanks for all of your work, you are doing a great job!
I'm trying to upload a blob to firebase by using the https://github.com/wkh237/rn-firebase-storage-upload-sample and dcworldwide' example here: https://github.com/wkh237/react-native-fetch-blob/issues/44
but no matter what i'm doing i'm getting this kind of error:

I also tried to provide it with base64 static string , and it se

[2016-07-31 22:58] wkh237 commented on #69
Hi @cherniv , do you have a sample code of how you use it ? I've tried the sample app and it works fine. (Though there's a little misleading in content-type). From the log you provided

I think it failed at [this line](https://github.com/wkh237/react-native-fetch-blob/blob/master/src/polyfill/Blob.js#L114), perhaps the image does not exist at the given path, you can try to create Blob using BASE64

[2016-08-01 07:13] cherniv commented on #69
My code looks like this:
[code]
It doesnt work on both iOS simulator and device

[2016-08-01 07:53] wkh237 commented on #69
@cherniv , I've tried your code and it works on my environment (both iphone and simulator), I've create a branch that contains [sample code](https://github.com/wkh237/rn-firebase-storage-upload-sample/blob/rnfb_issue69/index.common.js#L93) which is based on your code.  Please try if that works, thank you !

[2016-08-01 16:31] cherniv commented on #69
I realised now that it starts working after adding of these two lines:

but when i'm doing this, the fetch api that i'm using to fetch data from my server stops working for my app at all..
Is there a way to do it in a different way?

[2016-08-02 00:45] wkh237 commented on #69
Because our XMLHttpRequest replaced original one and RN fetch uses whatwg-fetch which is based on XMLHttpRequest. It is possible to fix this problem but I need to do some tests. An alternative way is use the 'fetch' provided by our module, it's not based on XMLHttpRequest.

[2016-08-02 01:07] wkh237 opened #70 "[Polyfill] Make XMLHttpRequest compatible to whatwg-fetch"
Described in #69 , when replacing window.XMLHttpRequest react-native `fetch` becomes malfunction. Though it's still possible to use our `fetch` but we should still consider make XMLHttpRequest compatible to whatwg-fetch.

- [x] Fetch replacement
- [x] FileReader polyfill implementation
- [x] Test cases
- [x] [Documentation](https://github.com/wkh237/react-native-fetch-blob/wiki/Fetch-API#rnfb-as-f

[2016-08-02 01:07] #68 closed

[2016-08-02 06:37] #69 closed

[2016-08-02 08:08] shirleycharlin opened #71 "Unable to resolve base 64 from directory"
Hi!

I relocated my project to another folder. and I was prompt
"unable to resolve module base-64 from <directory>/node_modules/react-native-fetch-blob/index.js
Unable to find this module in its module map or any of the node_module/base-64 and its parent directories.

[2016-08-02 08:25] Larney11 commented on #60
**console.log(pdf_Base64) =**
![screen shot 2016-08-02 at 09 23 58](https://cloud.githubusercontent.com/assets/20336495/17321936/eb014a64-5892-11e6-8d52-f6ac2ea2ceb5.png)

It printed almost another 12 pages of similar code.

[2016-08-02 08:50] wkh237 commented on #60
@Larney11 , I've done some test by download a PDF to storage and display it on Webview and that looks fine. I'm not sure if `Image` component supports PDF format, could you try using [react-native-pdf-view](https://github.com/cnjon/react-native-pdf-view) or Webview ?

[2016-08-02 08:59] wkh237 commented on #71
@shirleycharlin , does it help if you install `base-64` again ?

[code]

[2016-08-02 09:29] shirleycharlin commented on #71
Yes it does! thanks! :)

[2016-08-02 09:36] wkh237 commented on #71
Great to hear that :+1:

[2016-08-02 10:36] Larney11 commented on #60
@wkh237
I have been trying to display the PDF on wevview for a while and can't get it working. From what I read React-native-android's webview can only take a uri, and not a storage location or base64

I am currently trying to use react-native-pdf-view but unfortunately it only takes a file path([reference])(https://github.com/cnjon/react-native-pdf-view/blob/master/RNPDFView/RNPDFView.m#L56). And

[2016-08-02 11:00] #71 closed

[2016-08-02 14:12] wkh237 commented on #60
@Larney11 , I think you can try to save the BASE64 string to file system without `data:application/pdf,BASE64` prefix.

It's pretty simple to do this with our fs API

[code]

Hope it's gonna work 😏

[2016-08-03 05:16] wkh237 commented on #70
It turns out if we are going to do this, we have to implement a `FileReader`.

[W3C document](https://w3c.github.io/FileAPI/#dfn-filereader)

[2016-08-03 08:40] Larney11 commented on #60
Thanks a million for all your help. I'll let you know how it goes.

[2016-08-03 12:07] timsuchanek opened #72 "Disable Retry"
Hi, I'm using `RNFB 0.8.1` to download a file, where the download can take pretty long (sometimes 30secs).
Even if I don't pass in the timeout option, I see, that RNFB after 30secs not finished REST Call, retries the call.
Is it possible to disable the retry?
I also tried `react-native-fs` which downloads files, too, without retry when timeouts happen. But I like, that this library downloads the f

[2016-08-03 13:20] wkh237 commented on #72
@timsuchanek , thank you for your information 👍  I think this behavior does not look right. I'll try to fix this problem once I have time. Besides, does it happen on both IOS and Android?

[2016-08-03 13:34] timsuchanek commented on #72
Wow, fast answer :)
Currently only developing on android, so for iOS I can't say anything yet

[2016-08-03 15:05] wkh237 commented on #72
@timsuchanek , I've done a quick fix (https://github.com/wkh237/react-native-fetch-blob/commit/8961f106fdf3b2ead8958dfb96f9ade628348fd7) and a simple [test case](https://github.com/wkh237/react-native-fetch-blob/blob/0.8.2/test/test-0.8.2.js#L55), please refer to the links.

The fix will be launched in next release (0.8.2) 😏

[2016-08-03 16:07] wkh237 opened #73 "Unicode characters in response body does not encoded correctly"
When response data contains unicode characters  `response.json()` and `response.text()` does not convert unicode character correctly. We should check if the response data is a valid UTF8 string before encode it to BASE64 string. When it's valid, use URL encoding before BASE64.

- [x] Android
- [x] IOS
- [x] Test case

[2016-08-03 17:02] wkh237 commented on #72
Looks like the retry on 408 behavior is a default mechanism [okhttp/pull/2302](https://github.com/square/okhttp/pull/2302), we can't prevent it from happening, but the promise will only reject once.

[2016-08-04 07:22] shirleycharlin commented on #51
Commenting just in case anyone encounter **the same issue when compiling IOS**.

I have also encountered this when I transfer my project to a new macbook.

Solution:
Run the app on the simulator.
Delete away the build file inside IOS folder.
At the simulator, go to Simulator > Reset content and setting
Rebuild the app again - react-native run-ios

Credits to this link: http://stackoverflow.com/que

[2016-08-04 16:38] wkh237 commented on #51
@shirleycharlin , great thanks for your additional information 👍

[2016-08-06 13:44] Larney11 commented on #60
@wkh237 It works! Thanks for all your help.
**Solution**
[Check out this Stackoverflow solution](http://stackoverflow.com/questions/38662309/how-to-save-pdf-to-android-file-system-react-native).

[2016-08-06 13:44] #60 closed

[2016-08-06 14:39] wkh237 commented on #60
@Larney11 ,That's great ! I'm glad to be of help 😄

[2016-08-07 01:14] siyuan opened #74 "Can addAndroidDownloads specify download path?"
I want to specify path using addAndroidDownloads. In the wiki page, there is no path in addAndroidDownloads. So how can I specify addAndroidDownloads' download path.

[2016-08-07 01:20] siyuan opened #75 "addAndroidDownloads can't recognize Android APK file"
I download an APK file using addAndroidDownloads. I click the file but can't open. This is my config.
    RNFetchBlob.config({
      addAndroidDownloads : {
        useDownloadManager : true,
        title : 'some apk',
        description : 'apk install file',
        mime : 'application/vnd.android.package-archive',
        mediaScannable : true,
        notification : true,
      }
    })
    .

[2016-08-07 03:44] wkh237 commented on #75
@siyuan , thank you for reporting this problem, I've never tried download an APK using DownloadManager, I'll do some tests about this issue.

[2016-08-07 03:48] wkh237 commented on #74
@siyuan , I'm afraid this does not yet supported in current releases, but it sounds reasonable to support this function, I'll add this to `0.9.0` milestone this release will hopefully launch in coming weeks.

[2016-08-07 08:17] wkh237 commented on #75
@siyuan , according to [this post](http://android.stackexchange.com/questions/143736/oxygen-os-apk-installation-error-cannot-display-pdf) and this [StackOverflow](http://stackoverflow.com/questions/3253079/cant-install-apk-from-browser-downloads), perhaps you can not install APK in Downloads App due to some security issue, but it is possible to do it using an intent.

However user still have to ch

[2016-08-07 09:02] mlumbroso opened #76 "Typo in Readme manual linking"
Hi,

a small issue on Readme Android install :

[code]

There is a space in the beginning of the path that prevents building the app, just remove it :

`+ project(':react-native-fetch-blob').projectDir = new File(rootProject.projectDir,
'../node_modules/react-native-fetch-blob/android')
`

[2016-08-07 09:46] wkh237 commented on #76
@mlumbroso , thank you for your report ! I'll fix it right now 👍

[2016-08-07 09:53] mlumbroso commented on #76
Thanks to you for this great library :-)

[2016-08-07 10:00] mlumbroso opened #77 "[Android] Package does not exist"
Hi again,

trying to compile my app on Android with RN 0.31, I've got this error that links to the import on my MainApplication.java (version 0.8.1 is correctly installed via npm)  :

[code]

Any idea why?

Thanks for your great work :+1:

[2016-08-07 10:30] #76 closed

[2016-08-07 11:34] mlumbroso commented on #77
I think I tracked down the issue,

I don't have the problem anymore if I add :

`    compile project(':react-native-fetch-blob')
`
to android/app/build.gradle

Now I have an error with import okhttp3.internal.http.OkHeaders but I think I saw  it on another issue, will check this now.

[2016-08-07 12:10] mlumbroso opened #78 "[Android] Deprecated OKHeaders from OKHttp"
On compiling with RN 0.31, I have this error message :

[code]

After a little investigation, OKHeaders.java was removed from version 3.4.0
https://github.com/square/okhttp/tree/parent-3.4.0/okhttp/src/main/java/okhttp3/internal/http

Last version to include it is  3.3.1
https://github.com/square/okhttp/tree/parent-3.3.1/okhttp/src/main/java/okhttp3/internal/http

I don't know what's best here :
1

[2016-08-07 12:11] mlumbroso commented on #77
I opened another issue for this specific problem.

[2016-08-07 12:11] #77 closed

[2016-08-07 12:39] mlumbroso commented on #78
Trying to use
`    compile 'com.squareup.okhttp3:okhttp:3.3.1'
`
didn't work actually...

[2016-08-07 13:16] wkh237 commented on #78
@mlumbroso , thank you so much for doing the investigation 👍  I haven't tried the library on RN 0.31 yet, but I'll try to figure out where the problem is 😏

[2016-08-07 14:03] wkh237 commented on #78
@mlumbroso , I've fixed the issue by removing the import state, please try install latest version `0.8.2` I suppose it should work properly now.

[2016-08-08 00:36] sulliwane commented on #62
RN 0.30 with react-native-fetch-blob ^0.8.2, I also had a white space before " ../node_modules/" in my **settings.gradle** file. After removing, I can run ```react-native run-android``` without problem.

[2016-08-09 10:42] Larney11 opened #80 "Saved images to PictureDir only display in Gallery when phone is restarted"
Saved images to PictureDir only display in Gallery when phone is restarted.
For a detailed description of the problem [check out this StackOverflow question](http://stackoverflow.com/questions/38848413/saved-images-to-gallery-only-display-when-phone-is-restarted-react-native-andr).
Thanks!

[2016-08-09 12:12] tadas-subonis commented on #78
I believe it is still not fixed as I am getting errors like:
[code]
Also, I've found that lib's
build.gradle file has
[code]
and changing it to
[code]
fixes the problem

[2016-08-09 13:09] wkh237 commented on #78
@tadas-subonis , Thank you for your information. I'll reopen this issue in case someone getting the same error, I'll take some time to fix this issue.

[2016-08-09 22:30] siyuan commented on #75
@wkh237 Thank you very much for your help. I clone react-native-fetch-blob to node_modules of my project, and checkout to branch 0.9.0. I got this error when compiling:

JS server already running.
Building and installing the app on the device (cd android && ./gradlew installDebug...

FAILURE: Build failed with an exception.

* What went wrong:
A problem occurred configuring project ':app'.

Is the

[2016-08-10 01:29] wkh237 commented on #75
@siyuan , the error message usually means `android/settings.gradle` contains wrong project path.  Since the git repository contains the whole development environment, I suppose you should copy files in `src` folder to your `node_modules` and rename the folder to `react-native-fetch-blob` instead of copy the whole folder 😏  `src` is the folder which we publish as npm package.

Alternatively, you ca

[2016-08-10 02:15] wkh237 commented on #69
@cherniv , I'd like to inform you that a beta release `0.9.0-beta.1` might solve this issue for you

To install beta package use the following command :

[code]

**Usage**

See [Document]()

[2016-08-10 02:19] wkh237 commented on #70
This feature is now available in `0.9.0-beta.1`

[2016-08-10 04:34] wkh237 commented on #78
Added OkHttp dependency [cddd160](https://github.com/wkh237/react-native-fetch-blob/commit/cddd160437c172725667c9177be04a9bb8a975fc)

[2016-08-10 04:57] #64 closed

[2016-08-10 06:41] wkh237 commented on #78
Add Android OkHttp dependency that overrides react-native's OkHttp dependency may lead to app crash when using `Debug Mode`, therefore I removed the dependency again, and use another way to fix this problem.

[See commit](https://github.com/wkh237/react-native-fetch-blob/commit/80cc711a5c7e1b7a9b8c0105beb7f4f76d454ba5)

[2016-08-10 06:42] wkh237 commented on #64
related to #78

[2016-08-10 07:52] shirleycharlin opened #81 "How to get the blob data."
Hi!

Can I know how do I get the blob image data? Or do I need to translate the RNfetchBlob that is wrapping the local uri of the image to a blob data?

Thanks in advance!

[2016-08-10 08:06] wkh237 commented on #81
Hi @shirleycharlin , do you mean you want to create a `Blob` from an image in file system ?

[code]

Be sure to `close()` the blob when it's no longer needed.

[More information](https://github.com/wkh237/react-native-fetch-blob/wiki/Web-API-Polyfills-(experimental)#constructordata-options)

[2016-08-10 11:47] Larney11 commented on #80
**Solution**
This was missing to refresh the gallery:

`RNFetchBlob.fs.scanFile([ { path : imageLocation, mime : mimetype_attachment } ])
.then(() => {
  console.log("scan file success")
})
.catch((err) => {
  console.log("scan file error")
})`

[Check out this StackOverflow solution](http://stackoverflow.com/questions/38848413/saved-images-to-gallery-only-display-when-phone-is-restarted-react-nat

[2016-08-10 11:47] #80 closed

[2016-08-10 18:12] siyuan commented on #75
"$ npm install --save react-native-fetch-blob@beta", this method doesn't work. the same as before. It seems that Downloads app can't recognize the new downloaded app.

[2016-08-10 23:35] siyuan commented on #75
"copy src to node_modules and rename the folder to react-native-fetch-blob" doesn't work either. I use hardware Android 6.0, Android 6.0 simulator and Android 5.1 simulator do the test. None of them work.

[2016-08-11 01:22] wkh237 commented on #75
@siyuan , The error message means the path it points to does not contains an Android project. did you check `android/settings.gradle` if there contains a correct path to the android project of react-native-fetch-blob?

[code]

In this case, there should be an Android project in `node_modules/react-native-fetch-blob/android/`, also check if the path string contains extra space that causes the error

[2016-08-11 02:37] siyuan commented on #75
Thank you for your help.
I can install react-native-fetch-blob@beta and compile successfully, but cannot install the APP. This is my code:
upgradeApp()
  {
    RNFetchBlob.config({
      addAndroidDownloads : {
        useDownloadManager : true,
        mime : 'application/vnd.android.package-archive',
        mediaScannable : true,
        notification : true,
      }
    })
    .fetch('GET', 'ht

[2016-08-11 02:45] wkh237 commented on #75
Hi, @siyuan , does this happens on Android 6.0 only or it also happens on 5.x ?

[2016-08-11 02:52] siyuan commented on #75
Hi, @wkh237
Android 6.0 and 5.1 have this problem with react-native-fetch-blob v0.9 beta.
By the way, react-native-fetch-blob v0.8.1's res.path() is correct.

[2016-08-11 03:35] wkh237 commented on #75
@siyuan , thanks for your information. I think I know where the problem is, I'll publish a test version later !

[2016-08-11 03:39] wkh237 commented on #75
@siyuan , please try `0.9.0-beta.5` and see if the problem got solved

[code]

Thank you 😄

[2016-08-11 06:09] siyuan commented on #75
@wkh237 0.9.0-beta.5's res.path() is null. Tested on 6.0 and 6.1.

[2016-08-11 06:51] wkh237 commented on #75
@siyuan , Since I don't have 6.0 + devices and I can't reproduce the problem on emulator, I'd like to know more information if you can give me a hand !
- content of res.data
- the res.type

It would be nice if you have an Android IDE (Android Studio), you can set break points at the following lines

[/react-native-fetch-blob/blob/0.9.0-beta.5/src/android/src/main/java/com/RNFetchBlob/RNFetchBlobRe

[2016-08-11 08:34] siyuan commented on #75
@wkh237
res.data /data/user/0/com.android.providers.downloads/cache/abc.apk
res.type undefined

I will study how to set breakpoint in Android Studio.
Thank you.

[2016-08-11 08:36] wkh237 commented on #75
Thank you ! @siyuan , this would be helpful, you can also use `res.data` as a alternative of res.path()

[2016-08-11 08:54] siyuan commented on #75
@wkh237 use res.data still cannot install by sendIntent. I have enabled "Unknown sources, Allow installation of apps from unknown sources"
I'm afraid sendIntent have problem.

[2016-08-11 09:10] wkh237 commented on #75
@siyuan , does it help if you reinstall the package ?

[code]

then recompile the project

[2016-08-11 23:31] siyuan commented on #75
@wkh237 I found my issue happened on
    "react": "15.2.0",
    "react-native": "^0.28.0",

When I create a new project with 'react-native init', sendIntent works fine ("react": "15.2.1", "react-native": "^0.31.0"). res.path() has right value.

Do you have plan to support old react-native version?

[2016-08-12 00:45] wkh237 commented on #75
@siyuan , thanks for the information. I'll do some test on that version and see if I can fix it. However you can also upgrade you application if possible.

[2016-08-12 09:04] gauravbhusare opened #82 "Authentication not working."
I am trying to get a pdf file which needs authentication.
I am doing it in following way.

        RNFetchBlob.fetch('GET', pdfDownloadURL, {
            'Authorization' : DEMO_TOKEN,

          })
          .then((res) => {
            let base64Str = res.base64()
            let text = res.text()
            let json = res.json()
          })
          .catch((errorMessage, statusCode) => {

[2016-08-12 09:07] wkh237 commented on #82
@gauravbhusare , I think I need more information to figure this out. Can you send the request to a local server and see what's the headers looks like at server side ?

[2016-08-12 09:12] wkh237 commented on #82
@gauravbhusare , besides, does happens on both platform ? Or it only happens on Android or IOS ?

[2016-08-12 09:29] gauravbhusare commented on #82
@wkh237 I am trying it on android only.
and the link I am using is not on my local server. Actually the response is null but it is showing PDF in web browser.

[2016-08-12 09:32] gauravbhusare commented on #82
![image](https://cloud.githubusercontent.com/assets/20472198/17618478/b5dee09a-609d-11e6-933b-3cdcc593865e.png)

HTTP/1.1 200 OK
Date: Fri, 12 Aug 2016 09:30:53 GMT
X-Powered-By: Express
X-XSS-Protection: 1; mode=block
X-FRAME-OPTIONS: SAMEORIGIN
Strict-Transport-Security: max-age=360000
cache-control: no-cache, no-store, must-revalidate
pragma: no-cache
expires: 0
Accept-Ranges: bytes
Last-Modifi

[2016-08-12 09:46] wkh237 commented on #82
Hi @gauravbhusare , I think there should be another request with header `Range` that has non-null response body and status 206. It works in web browser since web browser automatically send `Range` requests, but we're not implement this mechanism at this moment, I think you might need to send range requests manually.

[2016-08-12 09:47] wkh237 commented on #75
@siyuan , it turns out that the API works properly on 0.24~0.31 environments, could you try removing the package from node_modules and reinstall it ? I think the problem might due to the inconsistency between js and native module version in your environment ?

[2016-08-12 09:49] gauravbhusare commented on #82
Will you help me by giving a small example how to send another request while using fetch blob
?

[2016-08-12 14:22] siyuan commented on #75
@wkh237
I completely reinstalled my APP. react-native-fetch-blob's intent works fine with "react-native 0.28.0". Thank you very much. I appreciate your help.

[2016-08-13 04:46] wkh237 commented on #75
@siyuan , great 👍 Please feel free to ask any question anytime.

[2016-08-13 04:46] #75 closed

[2016-08-13 04:58] wkh237 commented on #82
Hi @gauravbhusare , here's an `Range Request` example base on DropBox V1 API.

[code]

For more detailed explanation of `Range Request` see this [StackOverflow thread](http://stackoverflow.com/questions/8293687/sample-http-range-request-session)

[2016-08-13 09:01] jo2010 commented on #81
This is not working. I tried with following code. None of the console is called. Am I making some mistake here?
[code]

[2016-08-13 09:04] wkh237 commented on #81
Hi @jo2010 , I think I need more information
- What does `image.path` looks like ?
- Does the file exists at path `image.path` ?

[2016-08-13 09:07] jo2010 commented on #81
@wkh237 Yes, path. value of image.path is "file:///data/user/0/com.anonimio/cache/75fb85f6-561a-405e-a3d8-8c3feec1a0ee.jpg"

[2016-08-13 09:11] wkh237 commented on #81
Thank you @jo2010 , I think you can try to remove the URI scheme prefix `file://`, our file system API only recognize the following URI at this moment
- RNFetchBlob-file:// (the one `RNFetchBlob.wrap()` adds for your path)
- asset://
- asset-library:// (usually comes from IOS CameraRoll)
- content:// (usually comes from Android CameraRoll)

[2016-08-13 09:16] jo2010 commented on #81
@wkh237 Thanks a lot. The then part is called now.

[2016-08-13 11:52] gilra2000 opened #83 "firebase storage file upload.."
In React-Native app how can i upload an image from user' device to Firebase storage?

image path -> /storage/emulated/0/Pictures/image-760dac79.jpg

[2016-08-13 12:29] wkh237 commented on #83
Hi @gilra2000 , I think you can check the [sample app repository](https://github.com/wkh237/rn-firebase-storage-upload-sample).

Basically you have to replace `window.XMLHttpRequest` and `window.Blob` this way

[code]

Then create a Blob from the path

[code]

However, if you replace `window.XMLHttpRequest` the `fetch` may not work properly, but you can use our `fetch` API as an alternative.

[2016-08-13 13:10] gilra2000 commented on #83
T.T

failed...

Can you help?

ImagePicker.showImagePicker(options, (response) => {
        console.log('Response = ', response);

        if (response.didCancel) {
          console.log('User cancelled image picker');
        }
        else if (response.error) {
          console.log('ImagePicker Error: ', response.error);
        }
        else if (response.customButton) {
          console.log(

[2016-08-13 13:15] wkh237 commented on #83
@gilra2000 , is there any error message ? I think I need more information to figure out where's the problem.

[2016-08-13 13:19] #72 closed

[2016-08-13 13:21] wkh237 commented on #74
close on 0.9.0 release

[2016-08-13 13:21] #74 closed

[2016-08-13 13:21] wkh237 commented on #73
close on 0.9.0 release

[2016-08-13 13:21] #73 closed

[2016-08-13 13:22] wkh237 commented on #70
close on 0.9.0 release

[2016-08-13 13:22] #70 closed

[2016-08-13 13:37] gilra2000 commented on #83
<img width="947" alt="2016-08-13 10 36 37" src="https://cloud.githubusercontent.com/assets/3529738/17643485/83c628e8-61a6-11e6-90d1-4208aba065b8.png">

[2016-08-13 13:37] #83 closed

[2016-08-13 15:22] wkh237 commented on #83
@gilra2000 , does this happens on Android ? I've found an Android XMLHttpRequest bug in `0.9.0`, that might cause some problem.

If you're still getting problem, please try install the package to latest package `0.9.1` via the following commands

[code]

[2016-08-14 03:29] rameramwe opened #84 "undefined is not an object (evaluating 'RNFetchBlob.DocumentDir')"
hey guy i'm getting this error undefined is not an object (evaluating 'RNFetchBlob.DocumentDir') ..
i know this was mentioned before but all the solutions didn't help fix the problem for me
i'm going crazy .. i've been trying 9 hours to fix it with no luck
i tried rnpm and didn't work then tried linking manually and still didn't work
i'm using linux and android
and this is my package file
[code]

[2016-08-14 04:40] wkh237 commented on #84
Hi @rameramwe , apparently you're getting this error because the library is not linked properly. I've noticed that you might using an very old version of this library (0.6.4). Perhaps you can try the following steps :

First, close the app and packager.

Then upgrade `rnpm`

[code]

Remove the installed package

[code]

Re-install the library

[code]

And there should be some logs in the terminal

[2016-08-14 04:56] RichardBoyewa commented on #51
I am still having this same issue @dphov reported, I have done the linking but the error persists on Android. Is there any other reason
[code]
will be undefined? Cos I get error  `undefined is not an object (evaluating 'RNFetchBlob.DocumentDir')`

1. "react-native-fetch-blob": "^0.8.2",
2.  "react-native": "0.30.0",

[2016-08-14 05:13] wkh237 commented on #51
@RichardBoyewa , I've write some instructions in other thread, let's discuss this issue [here](https://github.com/wkh237/react-native-fetch-blob/issues/84), Thank you: )

[2016-08-14 05:19] RichardBoyewa commented on #84
@wkh237 Thanks. Let me try that now.

[2016-08-14 05:21] RichardBoyewa commented on #84
@wkh237 I am still getting the same. Could it be because I am using it from a worker? It is used alongside with `react-native-workers` could that be the problem; I doubt it.

Thanks

[2016-08-14 05:27] RichardBoyewa commented on #84
![image](https://cloud.githubusercontent.com/assets/3919611/17647435/1df5e66a-61e8-11e6-985a-4fe91d0d47dc.png)

Thats what I got after running `rnpm link`

[2016-08-14 05:30] rameramwe commented on #84
hey @wkh237  thanks a lot for the fast and awesome response
i did exactly like you said and i even got the same results in my terminal but still the same error :(
![screenshot from 2016-08-14 07 23 36](https://cloud.githubusercontent.com/assets/17526866/17647432/2288c9c4-61f0-11e6-8836-40b2afaf50e3.png)

then i tried deleting the build folder in my android folder and uninstalling the package and t

[2016-08-14 05:35] rameramwe commented on #84
@RichardBoyewa  hey man about the skipped thing i got it too you gotta delete this line   new RNFetchBlobPackage(), in mainapplication.java and it'll work actually it'll just add it again :P  .

[2016-08-14 05:36] rameramwe commented on #84
@wkh237 i noticed this while compiling ..does it matter ?
![screenshot from 2016-08-14 07 34 46](https://cloud.githubusercontent.com/assets/17526866/17647469/d8a30c64-61f1-11e6-8285-854f7289accd.png)

[2016-08-14 05:46] RichardBoyewa commented on #84
@rameramwe I did just that and the error is still there. Are you using it from a worker service? I am using this for a background service.
Worker : `react-native-workers`

[2016-08-14 05:49] rameramwe commented on #84
@RichardBoyewa  actually no i'm not using Workers but i'm using other stuff like image picker and Fbsdk  do you think this might  be causing the problem ?

[2016-08-14 05:54] wkh237 commented on #84
@RichardBoyewa , if you're using `react-native-workers` did you add

[code]

to `WorkerPackage` constructor (which should located in [node_modules/react-native-workers/android/src/main/java/co/apptailor/Worker/WorkerPackage.java line 34](https://github.com/devfd/react-native-workers/blob/master/android/src/main/java/co/apptailor/Worker/WorkerPackage.java#L34)) ?

[2016-08-14 05:54] RichardBoyewa commented on #84
I am not sure. I have been on this for a while... But this is an interesting package, I will fight my way through it :-)

[2016-08-14 05:55] RichardBoyewa commented on #84
@wkh237 Let me do that.... I missed that line :-(

[2016-08-14 05:55] rameramwe commented on #84
this package is essential for me cause i'm using firebase and i need firebase storage .

[2016-08-14 05:56] wkh237 commented on #84
@rameramwe , does the [firebase upload sample](https://github.com/wkh237/rn-firebase-storage-upload-sample) work on you environment ?

[2016-08-14 05:57] rameramwe commented on #84
i'll check that and see

[2016-08-14 06:00] RichardBoyewa commented on #84
Heyyyyyyyyyyyyy! 👍 It works.......... uuuuhhnnnnnnn!!! Dancing..... @rameramwe How far with yours? @wkh237 Thanks a billion. Can we drop this line as a comment in the ReadMe, incase someone else try to use it this way.

Thanks guys. You rock!

[2016-08-14 06:01] rameramwe commented on #84
@RichardBoyewa  congrats man :D hope  i  can fix it too :P

[2016-08-14 06:04] RichardBoyewa commented on #84
@rameramwe How can I message you directly... there is something you need to take out of your repo ASAP.... Don't commit that to gitHub

[2016-08-14 06:05] RichardBoyewa commented on #84
@rameramwe check your dependencies to see that they don't need a special installation like mine.

[2016-08-14 06:12] rameramwe commented on #84
@RichardBoyewa  i don't know how if you want that's my email rameramwe@gmail.com but i know what you mean :P the firebase thing

[2016-08-14 06:18] RichardBoyewa commented on #84
:-) Sent you a mail. Have u solved urs ?

[2016-08-14 06:20] rameramwe commented on #84
no not yet i'm trying to get the firebase upload repo running locally and see what'S going on

[2016-08-14 06:24] RichardBoyewa commented on #84
ok. Best of luck.

[2016-08-14 06:53] rameramwe commented on #84
@wkh237  i got the repo running and it works and it gave me 80% result why the hell ain't working with original app ? that'S the package file for the upload repo
{
  "name": "RNFirebaseUploadSample",
  "version": "0.0.1",
  "private": true,
  "scripts": {
    "start": "react-native start"
  },
  "dependencies": {
    "firebase": "^3.2.0",
    "react": "15.2.1",
    "react-native": "^0.28.0",
    "

[2016-08-14 07:03] wkh237 commented on #84
@rameramwe , I've tested the library with 0.29.1 Ubuntu 15 environment and it works fine. Could you provide a simplified sample of your project ?

[2016-08-14 07:04] rameramwe commented on #84
@wkh237  would you like to see the repo ? it's not that big
thank you very much for the help

[2016-08-14 07:05] wkh237 commented on #84
Yeah, I'd like to help if it's possible.

[2016-08-14 07:12] rameramwe commented on #84
@wkh237 Awesome :D that'S the repo https://github.com/rameramwe/funshare

[2016-08-14 07:33] wkh237 commented on #84
@rameramwe , when I try to run the application but it gives me a totally different error message saying that something is incorrect in `SwipeCard.js`.

[2016-08-14 07:49] wkh237 commented on #84
I temporarily removed anything in `index.android.js` it works now.
<img width="415" alt="2016-08-14 3 48 41" src="https://cloud.githubusercontent.com/assets/5063785/17647905/9eda03e4-6236-11e6-8390-c7403448922a.png">

[2016-08-14 07:52] rameramwe commented on #84
great .. it'S not important anyways but you should require the library fetch blob and see if it works

[2016-08-14 07:56] wkh237 commented on #84
@rameramwe , I've noticed that FacebookSDK uses different Android Build Tool (23.0.2) and React Native uses 23.0.1. When the first time I try to build the project, it shows the following error message.

![issue1](https://cloud.githubusercontent.com/assets/5063785/17647919/29c30f6e-6237-11e6-84af-03f4ed59272d.png)

I'm wondering if your environment missed this build tool too. I fix this error by si

[2016-08-14 07:58] rameramwe commented on #84
@wkh237  no i didn't use android studio

[2016-08-14 08:01] rameramwe commented on #84
i never got this error

[2016-08-14 08:15] wkh237 commented on #84
After upgrade `react-native-swipe-cards` to `0.8.0` and fix the missing comma in `SwipeCards.js` the app work properly now. Perhaps try clone the repo and reinstall the npm packages ?

![runnung](https://cloud.githubusercontent.com/assets/5063785/17648017/43541b8c-623a-11e6-9aac-2826da4eb8a3.png)

[2016-08-14 14:02] wkh237 opened #89 "Implement Blob.Slice"
Related to [https://github.com/wkh237/rn-firebase-storage-upload-sample/issues/2](https://github.com/wkh237/rn-firebase-storage-upload-sample/issues/2).

- [x] IOS implementation
- [x] Android implementation
- [x] Test cases
- [x] Documentation

[2016-08-14 21:37] rameramwe commented on #84
@wkh237  thank you very much i go it to work .. i was testing not on genymotion but on my phone .. the solution was  to uninstall the app from my phone and reinstalling it using run-android .. that'S very weird but now it's working perfectly thank you very much again .

[2016-08-14 21:37] #84 closed

[2016-08-15 01:18] wkh237 commented on #84
@rameramwe , great to hear that ! Please feel free ask any question when needed 😄

[2016-08-15 02:18] RichardBoyewa commented on #84
Nice job done here @wkh237 . @rameramwe Glad you finally got it to work.

[2016-08-15 15:03] timsuchanek opened #90 "Crash when field `data` is missing in formdata"
Hi, when constructing a formData object that I pass in intro `rnfb.fetch('POST'...`, and having the `data` attribute missing, the library crashes:
[code]

I know that is not the newest version of rnfb, but it still should happen in the newest as that code didn't change in the `writeTo` method of the `RNFetchBlobBody`.

So a simple check `field.hasKey("data")` and rejecting the promise when not wou

[2016-08-15 15:19] timsuchanek commented on #90
Btw what I'm going right now to wrap the uri is the following:
(As I saw that the `file://` or `file:/` has to be removed)
[code]

What do you think, could using the single file upload instead of formData solve the problem?
Or is rnfb probably just not able to resolve the path of the file?

[2016-08-15 15:25] wkh237 commented on #90
@timsuchanek , thanks for reporting and detailed information !

About the first quest, I think we should check if the field has key `data`  [here](https://github.com/wkh237/react-native-fetch-blob/blob/master/src/android/src/main/java/com/RNFetchBlob/RNFetchBlobBody.java#L247) and [here](https://github.com/wkh237/react-native-fetch-blob/blob/master/src/android/src/main/java/com/RNFetchBlob/RNFetch

[2016-08-15 15:54] smilechun opened #91 "[FirebaseStorage] Same codes work in iOS but no response in android"
_createItem() {
        let images = this.state.images;
        let uri = images[0].uploadPath;
        let type = images[0].type;
        let rnfbURI = RNFetchBlob.wrap(uri);
        let filename = new Date().getTime().toString();
        console.log(rnfbURI, uri, type, filename);
        // create Blob from file path
        Blob
            .build(rnfbURI, { type : type + ';'})
            .the

[2016-08-15 16:03] wkh237 commented on #91
@smilechun , thanks for reporting the issue. What's the version of react-native-fetch-blob you're using?

[2016-08-15 16:11] smilechun commented on #91
I am using0 .9.2-beta.1.
Actually, I am not sure this is repository issue or my coding issue since I could upload the file successfully by just clone and run [rn-firebase-storage-upload-sample](https://github.com/wkh237/rn-firebase-storage-upload-sample)

[2016-08-15 16:13] timsuchanek commented on #90
@wkh237, **Regarding quest 1**:
I think so too, that you would have to do that in those places, but only if we would send an empty request. For me some kind of response would be nice in the app, so I know, that rnfb can't handle that path. Trying `fs.stat` before would be one workaround but personally I would prefer a promise rejection as probably no REST backend could make sense of that.
How do y

[2016-08-15 16:17] wkh237 commented on #91
I will try to figure this out, be the way, you can also enable logs for `Blob` and `XMLHttpRequest` by change

`node_modules/react-native-fetch-blob/polyfills/Blob.js`
`node_modules/react-native-fetch-blob/polyfills/XMLHttpRequest.js`
that will give us more clue.

[code]

there would be a lot of logs.

[2016-08-15 16:43] smilechun commented on #91
After enabled the logs, I found that in iOS, there are many XMLHttpRequest logs printed.
However, In Android, nothing about XMLHttpRequest is printed. Is that fine or an issue?

It seems that the auth() request did not send to firebase, maybe this is a reason why there is no response when uploading the file.

[2016-08-15 16:51] wkh237 commented on #90
I'm agree with you, perhaps simply show message in yellow box is pretty enough. Besides, I just realized there's a private class called `FormField`, so we can simply change the code this way

<img width="710" alt="2016-08-16 12 40 18" src="https://cloud.githubusercontent.com/assets/5063785/17671559/2fd2743a-634a-11e6-9320-3b36603cb6ed.png">

To prevent app crash 😄

As for the URI problem, after so

[2016-08-15 16:51] wkh237 commented on #91
Would you mind paste android logs? I'll take some time tracking it 👍

[2016-08-15 17:04] timsuchanek commented on #90
Uh, that `FormField` solution sounds nice!

I found a pretty sophisticated path resolver here:
https://github.com/ivpusic/react-native-image-crop-picker/blob/master/android/src/main/java/com/reactnative/picker/RealPathUtil.java

I have been using it in my image resizer in production already, where it's working perfectly.
I use it in my chain as the following:
1. User chooses file
2. I resize it, r

[2016-08-15 17:06] smilechun commented on #91
Android Logs:
![screen shot 2016-08-16 at 12 59 31 am](https://cloud.githubusercontent.com/assets/5795291/17672043/c705328c-634c-11e6-8bc3-6169e7d5cbd3.png)

iOS Logs (Too much, just a snippet):
![screen shot 2016-08-16 at 1 04 02 am](https://cloud.githubusercontent.com/assets/5795291/17672145/6e14420c-634d-11e6-9fe7-b9e79d196759.png)

As you can see, In iOS, The Firebase User is authenticated, bu

[2016-08-15 17:07] wkh237 commented on #91
@smilechun , I've reproduced the issue, looks like it only happens when you running the app in Debug Mode, this is due to the JS runtime difference between two modes (JSC vs V8). I'' try to fix this issue. Besides, you can still see debug information via `logcat` though.

[2016-08-15 17:25] wkh237 commented on #90
That sounds great !! You can just replace the `normalizePath` method. If that really solves the problem, I think I should send an email to thank the project owner  😄

Uh .. the reason why `RNFetchBlob-file://` prefix is necessary ? I have no idea if that's the best solution, but it's simple. After all, someone may intended to send a request with body contains a URI, but it's less likely to send a

[2016-08-15 19:36] smilechun commented on #91
@wkh237 I don't why...but it suddenly works now....

[2016-08-16 04:52] gauravbhusare commented on #82
Thanks a lot @wkh237 . I was celebrating independence day. I will let you if it works.

[2016-08-16 09:01] timsuchanek commented on #90
So that means when I have an URI already, I don't need the `RNFetchBlob-file://`?

[2016-08-16 09:06] wkh237 commented on #90
For example, if the request body is a file path, it should be

`RNFetchBlob-file:///path-to-the-file`

more examples

`RNFetchBlob-file://assets-library://path-to-asset-library-resource`
`RNFetchBlob-file://assets://asset-uri`
`RNFetchBlob-file://content://content-uri`

[2016-08-16 09:14] timsuchanek commented on #90
Ok, so only filtering `file://` and `file:/` before using wrap but not `content://` seems the right approach?

[2016-08-16 09:15] wkh237 commented on #90
@timsuchanek , yes 👍

[2016-08-16 11:11] wkh237 commented on #91
I think it'd be helpful if you enable both `Blob` and `XMLHttpRequest` logs and copy logs (in text), then paste here 😄

<img width="721" alt="2016-08-16 7 10 52" src="https://cloud.githubusercontent.com/assets/5063785/17697069/2d802bc8-63e5-11e6-9165-4efcfb848e5e.png">

[2016-08-16 16:51] wkh237 commented on #90
@timsuchanek , I've published a `beta` version to npm, which contains the path resolver and form data fix. You may try this version and see if it works 😄

[2016-08-16 16:53] timsuchanek commented on #90
Haha nice, yeah I implemented a version by myself, pretty same code.
I will let my users run it and report back here :)

[2016-08-16 17:44] timsuchanek commented on #90
When compiling your new beta I get this:
[code]

[2016-08-17 02:49] shilpan opened #93 "Issue running react-native-fetch-blob on 0.9.2.beta.2"
react-native build fails with the following stack-trace:

[code]

[2016-08-17 04:05] wkh237 commented on #93
@shilpan , if your project RN version < 0.31, just remove that line and it will work again. This is an issue due to `0.9.2-beta.2` prelink script change.

[2016-08-17 04:05] wkh237 commented on #93
Reference #90

[2016-08-17 04:07] shilpan commented on #93
interesting. I would love to use 0.31 but firebase android doesn't seem to work on 0.31 :/

[2016-08-17 04:14] wkh237 commented on #90
@timsuchanek , the error is due to the [new added prelink script](https://github.com/wkh237/react-native-fetch-blob/blob/0.9.2-beta.2/src/scripts/prelink.js#L48) in `0.9.2-beta.2`. It's for release the response data when request does not success. I think I'll fix this issue today and publish a new release.

[2016-08-17 04:17] wkh237 commented on #93
I've observed the same issue issue, on 0.31 Android module  does not work in Debug Mode.

[2016-08-17 04:23] wkh237 commented on #93
Here's an example, the following code does not work in Android `Debug Mode`, XMLHttpRequest not even got called.

[code]

However, if I move the `  firebase.initializeApp(config)` line into the same scope it works

[code]

[2016-08-17 04:30] shilpan commented on #93
that is so weird. But that resolves it, thanks!

[2016-08-17 04:51] MQZhangThu opened #94 "Transfer-Encoding Header For PUT request to AWS S3"
I used pre-singed url to PUT image to AWS S3. The PUT request did not work  out, and the AWS S3 response is 501 Error, saying that "Transfer-Encoding: Chunked" Header is not implemented.

Anyone knows how to solve this problem? Thx.

[2016-08-17 05:14] wkh237 commented on #94
@MQZhangThu , thanks for reporting the issue :+1:  looks like it's related to [https://github.com/square/okhttp/issues/2190](https://github.com/square/okhttp/issues/2190), there's already a PR(#86) to solve this issue, but I don't have time to test and merge it, I'll update the status in this thread once it got merged.

[2016-08-17 05:18] wkh237 commented on #93
reference https://github.com/davideast/firebase-react-native-sample/issues/14

[2016-08-17 15:33] wkh237 commented on #94
After some test, I found that when simply overrides `contentLength()` can disable the chunk encoding. However, the given content length should be correct otherwise it will lead to an `unexpected end of stream` error.

[2016-08-17 16:09] wkh237 commented on #93
@shilpan , I've published `0.9.2-beta.3` which should fixed this issue 😄

[2016-08-17 17:05] smilechun commented on #91
@wkh237 After made some test, I found that if the connected android device is in "Debug JS Remotely" mode, the image could not be uploaded to firebase successfully. And it the "Debug JS Remotely" is turned off, it works as expected 👍

[2016-08-18 00:29] MQZhangThu commented on #94
:+1:  so what is the recommend way to set the content length? One possible way is seting the "content-length" header as the byte number when call RNFetchBlob.fetch?  However, this may be a little weird, as in my opinion, the "content-length" should be set by RNFetchBlob lib itself, not by the user. :)

[2016-08-18 01:05] wkh237 commented on #94
Yeah, but I can't calculate correct content length from multipart body so far, I think it might takes some time.

[2016-08-18 15:27] wkh237 commented on #94
@MQZhangThu , I've published `0.9.2-beta.4` to npm, the requests in Android should be fixed length request now. I wish you could try install this version and help us verify if the problem has been resolved, Thank you ! 😃

[2016-08-18 15:33] wkh237 commented on #90
@timsuchanek , I've published `0.9.2-beta.4` on npm. I think this version is much more stable and tested. Please feel free install this version and leave any feedback, thank you ! 😄

[2016-08-18 16:48] timsuchanek commented on #90
@wkh237 Ok, yeah the `0.9.2-beta.2` is now out in production and seems fine :)
Will upgrade to the `beta.4` and report back :)
Btw one problem I already had:
In the `cp` method, if the dest is not valid, there is a nullpointerexception, you only catch IOException.
Just did a quick fix with catching all Exceptions ^^

[2016-08-20 00:47] MQZhangThu commented on #94
@wkh237 It works now. Great.  But the `uploadProgress` seems not working well.

[2016-08-20 07:31] czciou commented on #78
it is still not fixed as I am getting errors like:
`RNFetchBlobBody.java:21: package okhttp3 does not exist
import okhttp3.MediaType;
              ^
.../node_modules/react-native-fetch-blob/android/src/main/java/com/RNFetchBlob/RNFetchBlobBody.java:22: package okhttp3 does not exist
import okhttp3.RequestBody;`

On compiling with RN 0.31

[2016-08-20 09:25] wkh237 commented on #78
@czciou , which version of react-native-fetch-blob are you using ?

[2016-08-20 09:33] wkh237 commented on #94
@MQZhangThu , thank you for the information, I've fixed the bug in `0.9.2-beta.5`, please install this version to repair the function.

[2016-08-20 16:09] shilpan opened #95 "Firebase upload throwing error on beta.6"
My code is as follows:

[code]

As you can see, most of the code is copied from the `rn-firbase-storage-upload` example. However I get the error:
`Firebase Storage: Invalid argument in "put" at index 0: Right-hand side of 'instanceof' is not an object`

It seems like firebase is not able to assert the blob's structure accurately.

[2016-08-20 16:43] wkh237 commented on #95
@shilpan , I can't reproduce the error and the code looks fine. I'm wondering what's `blob` looks like ? could you print its value ?

[2016-08-20 16:51] shilpan commented on #95
Here's the JSON:

[code]

[2016-08-20 17:19] wkh237 commented on #95
Okay, the blob instance looks good. After some attemps I still can not reproduce the problem, could you provide a simplified sample app that make this happen ? It'd be very helpful !

[2016-08-20 18:12] shilpan commented on #95
Okay this is extremely weird but changing this part of the code resolves it:

[code]

But I did get a resolution. So I will close this issue. Thanks :)

[2016-08-20 18:12] #95 closed

[2016-08-20 20:32] shilpan commented on #93
It does fix the issue. Thanks!

[2016-08-21 01:11] wkh237 commented on #93
Okay, let's close this issue :)

[2016-08-21 01:11] #93 closed

[2016-08-22 07:44] lty900301 opened #96 "Syntax issue"
I am using react-native-fetch-blob as an dependency and run into build issue.

I root caused the problem and found an syntax missing ',' at here: https://github.com/wkh237/react-native-fetch-blob/blob/master/src/types.js#L50-L51

[2016-08-22 13:12] wkh237 commented on #96
Thanks for the information, I've added the missing comma to 0.9.2 branch, this fix will be included in next release 👍

[2016-08-24 01:12] #89 closed

[2016-08-24 01:17] #96 closed

[2016-08-24 04:39] Kaishley opened #97 "Error compiling since 0.9.2"
Hi,

I just updated to 0.9.2 and I am having the following error when compiling.

`android\src\main\java\com\RNFetchBlob\RNFetchBlobBody.java:107: error: method contentLength() is already defined in class RNFetchBlobBody
    public long contentLength() {
                ^
Note: Some input files use or override a deprecated API.`

_There's duplicated code in the RNFetchBlobBody.java at lines 97 and

[2016-08-24 05:02] wkh237 commented on #97
Hi @Kaishley , thanks for reporting this issue. I think this only happens on react-native < 0.27 since the older OkHttp does not support overriding `contentLength` method.

The reason why we override `contentLength` is addressed in #94 , therefore I think to fix this problem by change [prelink script](https://github.com/wkh237/react-native-fetch-blob/blob/master/src/scripts/prelink.js) is a much p

[2016-08-24 05:04] Kaishley commented on #97
Hi @wkh237
The problem is there is duplicate code of the override. Please check lines 97 and 107 :)

[2016-08-24 05:07] wkh237 commented on #97
Okay, @Kaishley I see the duplicated code there, I'll merge the PR, thank you 😄

[2016-08-24 05:12] #97 closed

[2016-08-24 05:14] wkh237 commented on #97
@Kaishley , a new version `0.9.3` is published to npm, please try to install the updated package, feel free file an issue if there's any problem, thank you 😏

[2016-08-24 05:15] Kaishley commented on #97
@wkh237 Cheers ;)

[2016-08-24 09:09] wkh237 opened #99 "JSON Stream support"
JSON stream is useful when source data is a single large JSON file, we're planning support this feature in `0.10.0`.
- [x] IOS implementation HTTP JSON stream support
- [x] Android implementation HTTP JSON stream support
- [x] IOS implementation fs JSON stream support
- [x] Android implementation fs JSON stream support
- [x] Test cases
- [x] Documentation

[2016-08-24 16:00] herve1976 opened #100 "Android build failed : contentLength() is already defined in class RNFetchBlobBody"
/Users/herve76/Desktop/Fishii/node_modules/react-native-fetch-blob/android/src/main/java/com/RNFetchBlob/RNFetchBlobBody.java:107: error: method contentLength() is already defined in class RNFetchBlobBody
    public long contentLength() {
                ^
Note: Some input files use or override a deprecated API.
Note: Recompile with -Xlint:deprecation for details.
1 error
:react-native-fetch-blob:

[2016-08-24 16:03] wkh237 commented on #100
Could you tell me what's the version of the library?

[2016-08-24 16:53] herve1976 commented on #100
"react-native": "^0.31.0",
"react-native-fetch-blob": "^0.9.2",

[2016-08-24 16:55] wkh237 commented on #100
Try 0.9.3 that should be fixed : o

[2016-08-24 16:55] herve1976 commented on #100
I had to removed the duplicated lines to solve the build issue. but the android version is still not working

[2016-08-24 19:55] pietgk opened #101 "Install android misses build.gradle changes"
readme improvement by adding:

app build.gradle needs the following line added in dependancies.

   compile project(':react-native-fetch-blob')

[2016-08-25 01:37] wkh237 commented on #100
Hi @herve1976 , what's the RN version of you app ? I've tested `0.9.3` on many environments (0.25~0.31) and I couldn't reproduce this error. I'd like to confirm if we already fixed this, I suppose this has been fixed in #98 . Please try reinstall the package

[code]

Thanks !

[2016-08-25 01:39] wkh237 commented on #101
@pietgk , Thanks for your suggestion ! I'll add this line right away 👍

[2016-08-25 01:42] #101 closed

[2016-08-25 04:40] Jason0112 opened #102 "Android upload issues"
"react-native": "0.31.0",
"react-native-fetch-blob": "^0.9.3",

`let files = images.map((item, index)=> {
            return {name: index, filename: index + '.png', data: rnfb.wrap(item.uri)}
        });
let option = {
            'Content-Type': 'multipart/form-data'
 };

rnfb.fetch('POST', 'http://xxxxx/upload', option, files)
.catch(e=>Alert.alert('警告', '数据处理异常。'))`

IOS is no problem, but the

[2016-08-25 04:52] wkh237 commented on #102
@cheng0112 , Thank you for reporting this issue, I'll look into it 😄

[2016-08-25 05:03] wkh237 commented on #102
@cheng0112 , I've found here the problem is. The `name` property should be a `string` rather than a `number`. I think simply change type of `index` will fix it 👍

[code]

[2016-08-25 05:33] wkh237 commented on #99
[Document (WIP)](https://github.com/wkh237/react-native-fetch-blob/wiki/JSON-Stream-(Oboe))

[2016-08-25 05:34] #81 closed

[2016-08-25 07:51] pietgk commented on #101
please correct readme its not android/build.gradle
but android/app/build.gradle

[2016-08-25 07:53] pietgk opened #103 "readme update android/build.gradle -> android/app/build.gradle"
please correct readme its not android/build.gradle
but android/app/build.gradle

[2016-08-25 07:54] wkh237 commented on #103
@pietgk , I've corrected it, thank you 👍

[2016-08-25 08:13] pietgk opened #104 "The manual installation for iOS is not available"
It would be great if the manual instructions for iOS where added to the readme.
rnpm has trouble correctly updating my xcode project, so i need the manual installation.

thx Piet

[2016-08-25 08:20] #103 closed

[2016-08-25 21:17] kdedakia commented on #69
Hi there, thanks for creating this awesome project!

I'm still having problems with fetch on 0.9.1.
Everything works fine when I comment out
`window.XMLHttpRequest = RNFetchBlob.polyfill.XMLHttpRequest`

`export function fetchMarkers(loc) {
  return dispatch => {
    dispatch(requestMarkers(loc))
    return fetch("https://XXXXX.firebaseio.com/markers.json")
      .then(response => response.json())

[2016-08-25 23:44] siyuan opened #105 "How to add boundary when uploading file to server"
I use the following code to upload file

RNFetchBlob.fetch('POST', 'http://www.example.com/upload-form', {
    Authorization : "Bearer access-token",
    otherHeader : "foo",
    // this is required, otherwise it won't be process as a multipart/form-data request
    'Content-Type' : 'multipart/form-data',
  },
{
      name : 'avatar',
      filename : 'avatar.png',
      // Change BASE64 encoded d

[2016-08-26 01:13] wkh237 commented on #105
@siyuan , the boundary will be automatically append to `Content-Type` when body is an array. I'd like to know more information about your environment, does this happens on both Android and IOS ? what's the version of library you're using ? Also, if you can provide a code sample snippet that'd be more helpful 😄

[2016-08-26 01:18] wkh237 commented on #105
I've just tested on both Android and IOS with `0.9.3` using this code snippet

[code]

and here's the log at server

[code]

[2016-08-26 01:26] wkh237 opened #106 "XMLHttpRequest polyfill issue"
Derived #69

[2016-08-26 01:27] wkh237 commented on #69
@kdedakia , thanks for reporting this issue. I'll look into it and update status in #106.

Besides, have you tried [Fetch Replacement](https://github.com/wkh237/react-native-fetch-blob/wiki/Fetch-API#user-content-fetch-replacement) ? This is a fetch implementation based on our native network module rather than XMLHttpRequest polyfill 😄

[2016-08-26 05:44] wkh237 commented on #106
@kdedakia, after the investigation, I've located a problem in our XMLHttpRequest implementation, when response header contains `Content-Type : application/json`, the `xhr.response` propertywill be converted to object (which simply JSON.parse xhr.responseText), this is based on my understanding to [W3C standard](https://www.w3.org/TR/XMLHttpRequest/#the-response-attribute).

However, the WHATWG-Fet

[2016-08-26 13:33] siyuan commented on #105
My code, response.uri is the picture address of other module
        RNFetchBlob.fetch('POST', 'http://server/test', {
          'Content-Type' : 'multipart/form-data',
        },
        [
        {
            name : 'avatar',
            filename : 'avatar.png',
            data : RNFetchBlob.wrap(response.uri.replace('file://', ''))
        }
          ]
        )

tcpdump: 'content-length' is

[2016-08-26 13:46] wkh237 commented on #105
I think the problem is not missing boundary, the request header does not have a `Content-Length` field, therefore the request stream terminated at incorrect point which also result in missing boundary  error.

Besides, I've also noticed that the request is sent using `Chunked` transfer encoding, which means you're using pre `0.9.2` version of our library. In `0.9.2` we've changed Android HTTP impl

[2016-08-26 14:34] siyuan commented on #105
Thank you very much.
I encountered another problem. so I still can't upload file.
When I use curl to upload file, my server has this log.
client 114.241.13.67 closed keepalive connection

But when I use react-native-fetch-blob, I can't find this log. Maybe the connection is not closed?

[2016-08-26 15:18] wkh237 commented on #105
Not sure what's the root cause, from my understanding, keepalive connection does not close when task is done, instead it reuses the connection sending multiple request for better perofrmance.

I'm wondering if that's because the `Content-Length` is smaller than actual size of the body, which makes the server waiting for more data and therefore the upload stream never get closed. Could provide the

[2016-08-26 15:22] siyuan commented on #105
This is the curl tcpdump data. I use tcpdump on my Linux host. not the same picture
09:09:28.843774 IP 114.241.13.67.57734 > ip-172-31-31-108.ap-northeast-1.compute.internal.webcache: Flags [P.], seq 1:220, ack 1, win 229, options [nop,nop,TS val 2855588 ecr 3957583901], length 219
        0x0000:  4500 010f 5c3a 4000 3006 a1ef 72f1 0d43  E...\:@.0...r..C
        0x0010:  ac1f 1f6c e186 1f90 427e

[2016-08-26 15:24] wkh237 opened #108 "[IOS] UIDocumentInteractionController support"
In Android we can try to open a file by sending `ACTION_VIEW` intent, but there's no compensate API for IOS, maybe `UIDocumentInteractionController` is a good choice ?

[2016-08-26 15:33] wkh237 commented on #105
Would it possible the problem is the absence of `Expect : 100-continue` header ? I'm not sure if OkHttp implements this protocol.

Another difference I saw is the `Accept-Encoding` field, perhaps the server does not support gzip encoding so that it expects a larger request body to be written to the stream. Generally the server does not relys on the `Content-Length` header since it's not accurate i

[2016-08-26 15:51] siyuan commented on #105
Hi,
How did you setup your file server?
Thank you very much.

[2016-08-26 15:59] wkh237 commented on #105
I simply use [Express](https://github.com/expressjs/express) and its middleware [multer](https://github.com/expressjs/multer) for testing multipart requests. You can check out the [test-server](https://github.com/wkh237/react-native-fetch-blob/blob/master/test-server/server.js) of this project 👍 Also we've tested the multipart request heavily on Firebase.

[2016-08-27 01:30] siyuan commented on #105
The root cause of my problem is my server's filename needs "
These code can upload file to my server:

       RNFetchBlob.fetch('POST', 'http://x.y.z.w/test', {
          'Content-Type' : 'multipart/form-data',
        },
        [
          {
            name : "\"avatar\"",
            filename : "\"avatar.jpg\"",
            data : RNFetchBlob.wrap(response.uri.replace('file://', ''))

[2016-08-28 15:05] MrRoyce opened #109 "Upload from CameraRoll to Firebase fails"
I've not been able to get any files successfully uploaded from the CameraRoll (on my Nexux 6 phone) to Firebase.  Essentially, the call to put the image to Firebase hangs.  It doesn't return the promise and nothing is logged to my console or to Firebase.

I've successfully run the sample app that loads images to Firebase, but that is using an image from https://avatars0.githubusercontent.com/u/506

[2016-08-28 15:15] smilechun commented on #109
Turn off debug remotely and try again.  For me,  it only works when debug remotely is off.
My spec:
RNv0.31
RN-blob 0.9.2 beta

[2016-08-28 15:51] MrRoyce commented on #109
@smilechun, thanks for the tip.  I tried that and at least made some progress.  I am now getting an error:

*The callback slice() exists in module RNFFetchBlob, but only one callback may be registered to a function in a native module.*

So it looks like something is trying to happen.  Its tough to diagnose without being able to debug remotely.  Using console.warn at least allows me to show some in

[2016-08-28 15:57] smilechun commented on #109
Try to use logcat,  it would helps

[2016-08-28 16:01] wkh237 commented on #109
@MrRoyce , it looks like the Blob has been created but FireBase does not successfully send request. You can turn on the logs of `XMLHttpRequest` and `Blob` by doing the following changes to `node_modules/react-native-fetch-blob/polyfill/Blob.js` and `node_modules/react-native-fetch-blob/polyfill/XMLHttpRequest.js`, the log might be a little overwhelm.

[code]

Our fs module is able to consume the

[2016-08-28 16:04] smilechun commented on #109
The uri path should not start with "file: //" or "file: /",  keep the first "/",  for example "/xxxx/xxxx".  Please refer to the readme.md. it should stated what vaild uri it accepts.

[2016-08-28 16:47] MrRoyce commented on #109
I was able to upload an image if I strip off the 'file:' prefix.  As I reported in the issues for the sample upload program, for some odd reason, Firebase wont let me re-upload that same image from my CameraRoll, it will fail after the 1st upload of that image, with a message saying the image cant be found.  Even though I can still see the image on my phone.

I guess I can close this issue, hopefu

[2016-08-28 16:47] #109 closed

[2016-08-28 17:20] MrRoyce opened #110 "Upload to Firebase with Android images with prefix 'content://' fails to complete"
Hi there, I've been able to upload images to FireBase with the uri of type '/storage/emulated/0/DCIM/Camera/IMG_20160626_154052.jpg'  however, when I use the library, https://github.com/jeanpan/react-native-camera-roll-picker it returns the URI in the format 'content://media/external/images/media/20038'

The uploads complete, but they only send a minimal amount of data (e.g. 31 bytes) to FireBase

[2016-08-29 02:59] wkh237 commented on #110
@MrRoyce , thanks for the information !

If you append `;BASE64` after the mime type string the library will try to decode the first argument as BASE64 encoded string, basically you can just pass `image/jpg` to `type`.

However, the Blob constructor only support file URI at this moment, passing an URI starts with  `content://` might not work as expected, but there's an workaround, you can copy the

[2016-08-29 03:47] SamSaffron opened #111 "In case of a redirect how do I get the URL I was redirected to?"
I tried to search and can not find how I would get the URL I ended up at from the promise resolution.

.info() does not seem to provide the destination URL

Is there some other method?

[2016-08-29 04:47] wkh237 opened #112 "[iOS] fs.cp does not work on URI from CameraRoll"

[2016-08-29 05:05] wkh237 commented on #111
@SamSaffron , the library does not support for this. Perhaps we can try to add last response URL to resp.info()

[2016-08-29 05:07] SamSaffron commented on #111
yes that would be awesome, my particular use case is checking if a site is HTTP or HTTPS, for cases where HTTP has rewrite going to pass all traffic to HTTPS

[2016-08-29 05:43] wkh237 commented on #111
This enhancement will launch in `0.9.4`, the `resp.info()` will look like this.

<img width="434" alt="2016-08-29 1 41 41" src="https://cloud.githubusercontent.com/assets/5063785/18041725/6e2063ec-6dee-11e6-8f8d-cdaca58cc90a.png">

[2016-08-29 05:44] SamSaffron commented on #111
wow awesome!

On Mon, Aug 29, 2016 at 3:43 PM, wkh237 <notifications@github.com> wrote:

[2016-08-29 10:58] adbl commented on #94
I'm getting 501:s when trying to `put` to S3 with pre-signed urls on iOS too...

[2016-08-29 11:46] mlumbroso commented on #78
No problem on updating to the last release, seems fixed to me :-)

[2016-08-29 15:40] wkh237 opened #113 "Improve Blob document"
Reference wkh237/rn-firebase-storage-upload-sample/#5 , the Blob default behavior should be state in document more detailed.

[2016-08-29 22:31] matthieubessol commented on #110
@wkh237 thank you I also have the same problem. I tried your code, but when I do the upload to Firebase, it never ends. It won't go to the last step.
Here is my blob :
`{ listeners: {},
  isRNFetchBlobPolyfill: true,
  multipartBoundary: null,
  _ref: '/data/user/0/com.rndm/files/tmp1472509561234',
  _blobCreated: true,
  _closed: false,
  cacheName: 'blob-5999b6fb-dd73-499a-8705-728facaff680',

[2016-08-29 22:46] MrRoyce commented on #110
@wkh237 I was able to get the file upload to fire base working with the https://github.com/bamlab/rn-camera-roll library. That library converts the native android format 'content://...' to the iOS format 'file://..'

@matthieubessol it worked for me from my device but only if debug is not on. So turn off 'debug external' and see if that works.

[2016-08-30 00:16] kdedakia commented on #69
Thanks, that completely fixed my issues!

[2016-08-30 01:10] wkh237 commented on #110
@matthieubessol , does it happens on both IOS and Android ?

[2016-08-30 06:43] wkh237 opened #114 "File API supports camera roll and asset URI"
reference wkh237/react-native-fetch-blob#112

Some File APIs does not support cameraRoll and assets URI, we should add support for these resources :

- cp
- writeFile
- slice
- stat
- exists

[2016-08-30 08:38] wkh237 commented on #94
@adbl , IOS network module should not send chunked request, is there any way for me to reproduce this issue ?

[2016-08-30 10:09] matthieubessol commented on #110
@MrRoyce thanks it did not work in my case but I think it's a problem with my code. To be sure, if I've disable live reloadand js dev mode, that's enough ?

@wkh237 I'm for the moment testing it only on my Android phone.

In fact, I don't need the CameraRoll in my project. I have the path of a picture I took with [React-native-camera](https://github.com/lwansbrough/react-native-camera). The path i

[2016-08-30 10:24] wkh237 commented on #111
@SamSaffron , I've published a prerelease version on npm `0.9.4-beta.2` which contains this fix. Please try update the package and see if it works properly, thank you 😄

[2016-08-30 10:29] wkh237 commented on #110
@MrRoyce @matthieubessol , I've published a prerelease version on npm `0.9.4-beta.2` which should be able to use extra URI such as`content://`, please try update the package and see if it works properly, also any feedback will be grateful, thank you 😄

see [the test case](https://github.com/wkh237/react-native-fetch-blob/blob/0.9.4-beta.2/test/test-firebase.js#L179) for sample usage 👍

[2016-08-30 11:00] matthieubessol commented on #110
I've juste tried it. It sends me an error : "The callback slice() exists in module RNFetchBlob, but only one callback may be registered to a function in a native mobile."

[2016-08-30 14:04] matthieubessol commented on #110
@wkh237 thanqs again for the support. I'm now on the beta, but it still does nothing. I took the exact same code as test case. Here are my logs.
`'CameraRoll', 'content://media/external/images/media/85803'`
`start upload ..`

It strange, as soon as firebase make the call, there's nothing after.

[2016-08-30 15:18] wkh237 commented on #110
@matthieubessol , I'm a little confused about the code snippet you provided, looks like the promises will not wait for completion of `fs.cp`, I prefer do it this way

[code]

however, if you've upgrade to `0.9.4-beta.2` there's no need to copy the file before creating blob object, simply use the URI should be fine.

[code]

[2016-08-30 15:46] matthieubessol commented on #110
@wkh237 yes, this is what I was testing. But still the same problem, at the moment Firebase should upload, it doesn't. Just nothing happens. I don't think it's because of the blob cause he seems good.

[2016-08-30 19:21] matthieubessol commented on #110
@wkh237 it's working, don't know what I've changed though.

[2016-08-30 20:21] SamSaffron opened #115 "Introduce pattern for cleaner transition to background"
Per: http://stackoverflow.com/a/10319761/17174

When app transitions to background native blob should provide the hooks to extend execution until all downloads are complete (or properly timed out)

[2016-08-31 01:24] #67 closed

[2016-08-31 01:24] #90 closed

[2016-08-31 05:27] wkh237 commented on #115
@SamSaffron , Thanks for your information, I think this is a very improtant feature, and we've tried to implent background transmission mechanism, but it's not a easy task, perhaps still need some time.

[2016-08-31 05:30] SamSaffron commented on #115
Recently I have been fighting super hard to get background fetch going. It seems https://github.com/SamSaffron/DiscourseMobile/commit/989c3a3eac40a5bc6b54dc700cccdf1fa7bbf62c may have done the trick but it took me days of debugging and I am still not certain.

Cleanly dealing with transition to background is a great feature for RN to have, I will raise a separate ticket so core react networking ne

[2016-08-31 05:46] wkh237 commented on #115
Yeah, I'm agree with you. On Android, developer can use [Download Manager](https://github.com/wkh237/react-native-fetch-blob#android-media-scanner-and-download-manager-support) but there's no such a solution on IOS.

It would be great to have this implemented, I'll look into it 👍

[2016-08-31 05:52] SamSaffron commented on #115
I also opened this issue now to see if core should add something https://github.com/facebook/react-native/issues/9678

[2016-08-31 13:47] adbl commented on #94
hmm, pretty complicated if you're not already using signed AWS S3 urls.

I would be able to debug it with XCode if you can give me some instructions?

[2016-08-31 14:20] wkh237 commented on #94
@adbl , after some investigation I know where's the problem now. In our IOS native implementation, if you use an URI as the request body (use RNFetchBlob.wrap), we will create a file stream for it then pipe it to request stream for better memory efficiency [(refer to the implementation)](https://github.com/wkh237/react-native-fetch-blob/blob/master/src/ios/RNFetchBlobReqBuilder.m#L114).

However,

[2016-08-31 14:25] adbl commented on #94
Aha, is it possible to tell `NSURLSession` to not use `Chunked` encoding when it is sending a stream? If so, there could be option to `config` which forces to not use chunked encoding?

For my purposes, bas64 is no-go.

[2016-08-31 15:10] wkh237 commented on #94
From my understanding, if not using `Chunked` encoding, the request data must be sent with fix content length, so that server knows when to close the stream. I've found [this document](http://docs.aws.amazon.com/AmazonS3/latest/dev/UsingRESTAPImpUpload.html) it suggets use multipart upload to upload large file, I think this is very common. Not sure if this is the right one?

In fact there's an fs

[2016-08-31 16:11] adbl commented on #94
Aha cool, that's great when uploading big files. Our particular use case they are only around 400kb. Would it be feasible to implement this force thing (I guess that means it have to read the file into memory to calculate length. But for small files that might be ok?

[2016-08-31 16:11] adbl commented on #94
As long as it's done in native I mean.

[2016-08-31 16:29] xxsnakerxx opened #116 "rnpm link fails if android folder has non-standard structure"
Hi!

My android folder has following structure
`/android/app/src/main/java/com/{companyName}/{appName}/MainApplication.java`

In this case `rnpm link` fails with error that described [here](https://github.com/wkh237/react-native-fetch-blob/blob/master/src/scripts/prelink.js#L23)

It would be better just use `console.log('Warning, ...')`  instead of `thrown`

[2016-08-31 16:30] wkh237 commented on #94
You may take a look at [this issue](https://github.com/wkh237/rn-firebase-storage-upload-sample/issues/2). The way that FireBase SDK deal with different size files, it send the file in single request if the size is smaller than 256kb otherwise it splits the file into 256kb chunks then upload them separately. I think this is a good reference 😏

On the other hand, I will add an additional option for

[2016-08-31 16:31] wkh237 commented on #116
@xxsnakerxx , thanks for the advice !! I'll add more detailed error message to the link script !!

[2016-08-31 16:32] wkh237 opened #117 "Option for switch chunked request"
related to #94 's discussion.
- [x] Documentation
- [x] Android implementation
- [x] IOS implementation

[2016-08-31 18:10] adbl commented on #94
Nice!

[2016-09-01 13:41] mlumbroso commented on #69
I tried to use Fetch Replacement, but my fetch are breaking, not even silently failed as before :

`Object is not a function (evaluating 'fetch(url, { method: 'post', body: JSON.stringify(comment)})`

[2016-09-01 14:09] mlumbroso commented on #106
Working great for me now !

[2016-09-01 14:12] wkh237 commented on #69
@mlumbroso , thanks for reporting. Please feel free file an issue if something went wrong 😄

[2016-09-01 21:37] stefan-feltmann opened #118 "How to prevent JavaScript freezing in readStream"
I'm having an issue streaming in a file with `readStream`.  While `onData` is being called the JS thread freezes for about nine seconds opening a 16.6 MB file.  I've tried increasing the buffer to 20000000 from default and that did speed it up from its old time of about forty five seconds, but further increase didn't change anything and if the buffer is set too high, the app crashes.  Is there som

[2016-09-02 05:51] wkh237 commented on #118
@stefan-feltmann , thank you for point out this problem. Could you let me know which `encoding` you use (utf8, base64, ascii)? Does this happen on both Android  and IOS ? I'd like to know more information, thank you.

[2016-09-02 15:02] wkh237 commented on #118
@stefan-feltmann , after some investigation, I think the problem is result from high frequency event dispatching, however, thank to this issue, I've also found a bug in IOS `readStream` implementation and have it fixed.

I've changed the code and try to reduce the overhead when handling RCT bridge event, though the problem may still exists, I'm able to read a 22MB file in about 3 seconds (on iPhon

[2016-09-02 15:09] #113 closed

[2016-09-02 23:05] stefan-feltmann commented on #118
I'm using utf8.  Currently it's only working on Android.  iOS is having issues which may or may not be related to `readStream`.  More testing is required on our side.

I will try `0.9.4-beta.4` and leave feedback as soon as I am able to.

[2016-09-04 15:30] Tybi opened #119 "Uncaught exception of type NSException"
Hi ! I have a problem when I use the sample for uploading to DropBox. In android everything works.
But in iOS when I upload the app crash in Xcode. The problem appears when the code try to detect if the response header for Content-Type contains "text/" or "application/json".

This is what I have in XCode log :

2016-09-04 17:11:09.278 Olly[390:5537] -[__NSCFString containsString:]: unrecognized se

[2016-09-05 02:28] wkh237 commented on #119
@Tybi , thank you for reporting this issue, however, I could not reproduce this issue after some attemps, prehaps I need your assist.

Could you provide the code snippet you're using ? how's the size of the request body ? what's the version of the library ? Thank you 😄

[2016-09-05 05:46] Tybi commented on #119
The version of the library is "react-native-fetch-blob": "^0.9.3" and "react-native": "^0.32.0",
This is the content of my function :

[code]

backupData value  is

`{data:"25ecce720d11cc6a163ff5ee039e8c308c9554728cb996faefd6ace6b4a23ffcU2FsdGVkX19VatGktnLQ3Zsi4f9Qv69F5Un0En7phNEdRYiKOV+qa8om4rxzpouJV5m4mKKBxPt674DrJV64v6RcWfawZGu3qxb7LkRPECYUQMJsuHdQEQ/PsXx4UKO3UZKWUOFaamddjZ9nwYYKVIiAAPiyKYJg7t+

[2016-09-05 06:48] wkh237 commented on #119
Thanks for the detailed information, I'll look into it 👍

[2016-09-05 07:32] wkh237 commented on #119
@Tybi , I've tested with the code and data you provided, but still can not reproduce the error. The XCode error message looks like it can not find a method named `containsString`, which is a method introduced in IOS 8.0. I only run test on 8.0 devices and simulator, not sure if this is the problem ?

[2016-09-05 08:01] Tybi commented on #119
Ok, I will try to change my deployement target because it's 7.0 maybe this is the problem!

Thanks.

[2016-09-05 09:23] allvintage opened #120 "uploadProgress Android"
Hi,

thank you for this awesome project. I'm having trouble with uploadProgress on Android and couldn't find any solutions in Issues or Wiki. On iOS everything is working fine, but on Android it seems as if the uploadProgress Handler is completely being ignored.

I'm using this code to make a request to my server:

RNFetchBlob.fetch('POST', 'https://www.example.com', {
    'Content-Type' : 'applic

[2016-09-05 09:59] wkh237 commented on #120
@allvintage , thank you for reporting this issue. I think this due to you're uploading the body `as-is`, in this case our Android network module reads the whole data into request body instead of using byte stream, therefore it won't trigger upload progress event.

I think it's reasonable to change the design so that the behavior is more consistent with IOS. However, there's a workaround, you can t

[2016-09-05 10:25] wkh237 commented on #120
I've published a `beta` version to npm, please try upgrade the package

[code]

[2016-09-05 11:10] allvintage commented on #120
Wow, you're fast! 👍 I was just changing my PHP to decode base64, but now it works without a single line of code change. Thank you so much!

[2016-09-05 12:05] #120 closed

[2016-09-05 16:39] stefan-feltmann commented on #118
I tried both `0.9.4-beta.4` and `0.9.4-beta.5` on Android and the problem still persists.

I'll get back to you with iOS information as soon as I can.

[2016-09-05 18:42] Tybi commented on #119
@wkh237 , After some test the problem only appear on my device wich is in IOS 7.0  on the simulator the app doesn't crash. To solve my problem I replace the original code

[code]
By
[code]

Thanks  👍

[2016-09-06 01:15] wkh237 commented on #119
Great ! I think we can fix this by extend the NSString class (according to the SO thread) so that it can compatible with IOS 7 😏

[2016-09-06 02:49] wkh237 commented on #118
@stefan-feltmann , great thanks for the assistance 👍  I've published `0.9.4-beta.6` which contains the following changes :

On IOS when the buffer size is large (about ~1000k) the app crashes due to IOS thread stack size limit (1MB). In this version the stream buffer is moved to heap instead of in heap, so that it's managed to use a large buffer and it's working seemly on iPhone.

As for Android,

[2016-09-06 02:52] wkh237 commented on #119
Besides, I've noticed that in React Native official repo it says

Not sure if I'm reading this correctly ?

[2016-09-06 05:36] Tybi commented on #119
Yes you have right. But it's strange in some issues of React-Native people says it support IOS 7 and before this problem I never encountred problems with IOS 7.

The thing is I can't find data about the part of Iphone still using IOS 7 and if it's still interesting to support this version.

[2016-09-06 06:37] wkh237 commented on #119
@Tybi , I've added extended `containsString` to IOS module but I can't verify if it works on IOS7. Could  try install `0.9.4-beta.7` see if it works ? thank you 😄

[2016-09-06 06:57] wkh237 commented on #78
Okay, let's close this issue.

[2016-09-06 06:57] #78 closed

[2016-09-06 06:58] #91 closed

[2016-09-06 06:59] #106 closed

[2016-09-06 08:13] Nopik commented on #116
Just got bitten by this, too. Actually, the proper solution would be to remove whole prelink script and mention in readme what permissions need to be added. Some apps might have the permissions already, so having the modifications listed twice there wont be good.
Writing to manifest like prelink.js does isn't really a good practice.

For me it was enough reason to find alternative component, or at

[2016-09-06 08:56] wkh237 commented on #116
@Nopik , thanks for the advice. I think the `prelink` script is still necessary for some reason.

For developers who do not, or don't have the knowledge changing native code, the script makes the installation easier. On the other hand, React Native is changing in very fast pace, sometimes the library just broken after a new release, one purpose of the script is to make the library working properly

[2016-09-06 09:50] Nopik commented on #116
Well, for me it would mean that we always will need to run `RNFB_PRELINK=false react-native link`, and teach everybody in the team to do so. That can be done, and at least things will be working, it just will be a giant PITA. The fact is that the `prelink.js` is not working for us, and out of ~20 packages yours is the only one, and we'll have to remember about it forever, otherwise link wont work.

[2016-09-06 10:19] wkh237 commented on #116
@Nopik , it sounds pretty make sense 👍 I'll change the way it works, thank you for your great suggestion 😄

[2016-09-06 14:53] wkh237 commented on #104
The instructions will be added before 0.9.4 release, refer to #116 .

[2016-09-07 02:34] wkh237 commented on #104
Please refer to [the wiki](https://github.com/wkh237/react-native-fetch-blob/wiki/Manually-Link-Package), thank you !

[2016-09-07 07:30] jo2010 opened #121 "console.warn('finished request could not be canceled')"
This is so weird, only on iOS during facebook sign with firebase, this warning is thrown, and firebase facebook sign is not working. Works fine in android. When I look at the call stack I se index.js and XMLHTTPRequest from react-native-fetch-blob. Why react-native-fetch-blob code getting called during Facbook Firebase auth?

[2016-09-07 07:43] wkh237 commented on #121
Hi @jo2010 , thanks for the information.

Once you replaced window.XMLHttpRequest with our implementation it's reasonable RNFB got called because these libraries sending HTTP request base on window.XMLHttpRequest.

The Web API polyfills are still in experimental so if you're using `0.9.3` or earlier version, I'd recommend you try install latest `beta` version and see if the problem got solved.

[c

[2016-09-07 09:36] wkh237 commented on #121
@jo2010 , not sure how you use FB credential with Firebase but I'm able to get it work with `0.9.4-beta.7` and `react-native-fbsdk`, looks like it's working properly on IOS.

Here's my code

[code]

[2016-09-08 05:43] wkh237 commented on #119
The fix has been released with `0.9.4` so I'm going to close this issue. Please feel free reopen the issue if there's any problem, thank you 😄

[2016-09-08 05:43] #119 closed

[2016-09-08 05:44] wkh237 commented on #117
The feature has been released with `0.9.4`, issue closed.

[2016-09-08 05:44] #117 closed

[2016-09-08 05:44] wkh237 commented on #116
The change has launched in `0.9.4` so I'm going to close this issue. Please feel free reopen the issue if there's any problem, thank you 😄

[2016-09-08 05:44] #116 closed

[2016-09-08 05:45] wkh237 commented on #111
The fix has been released with `0.9.4` so I'm going to close this issue. Please feel free reopen the issue if there's any problem, thank you 😄

[2016-09-08 05:45] #111 closed

[2016-09-08 05:45] #114 closed

[2016-09-08 05:45] #112 closed

[2016-09-08 05:46] #104 closed

[2016-09-08 05:47] wkh237 commented on #94
The fix has been released with `0.9.4` so I'm going to close this issue. Please feel free reopen the issue if there's any problem, thank you 😄

[2016-09-08 05:47] #94 closed

[2016-09-08 05:48] #102 closed

[2016-09-08 05:48] #100 closed

[2016-09-08 05:54] wkh237 commented on #118
FYI, the latest release `0.9.4` I've added a new argument `interval` so that you can limit the read stream event frequency. Here's an example :

[code]

Please try if this solve the problem 😄

[2016-09-08 07:48] windhost opened #122 "Android utf-8 coding"
The js communicates with android native use utf-8 code, when I request a binary text from server, the  response type is not blob, it coded to utf-8 string. And iOS use base64 code, it works well.

[2016-09-08 07:51] wkh237 commented on #122
Hi @windhost , could you let me know what's the `Content-Type` of response and how you send your request ? Thank you 👍

[2016-09-08 14:05] wkh237 opened #123 "XMLHttpRequest.setLog and Blob.setLog not working"
Should change these lines `number` to `level`

[/src/polyfill/Blob.js#L54](https://github.com/wkh237/react-native-fetch-blob/blob/master/src/polyfill/Blob.js#L54)
[/src/polyfill/XMLHttpRequest.js#L87](https://github.com/wkh237/react-native-fetch-blob/blob/master/src/polyfill/XMLHttpRequest.js#L87)

[2016-09-08 19:41] tsemerad commented on #118
I tried `0.9.4` using a 100 ms interval, and my iOS app is now pretty responsive while the download is in progress. This is definitely a major improvement! Thank you 😄

One other thing that you might want to consider. I came across [this article about breaking up heavy processing in React Native](https://corbt.com/posts/2015/12/22/breaking-up-heavy-processing-in-react-native.html). I'm not sure if

[2016-09-09 00:18] windhost commented on #122
`'Content-Type': 'application/octet-stream',`
This is my Content-Type.

[2016-09-09 02:48] wkh237 commented on #118
@tsemerad , great to hear that 😄

From my understanding, the root cause of this issue is that native module dispatch event in a very high frequency, as such there is a large overhead converting native object to JS context which makes the JS VM very busy. Therefore I tried to reduce the frequency by adding extra option to the API.

However I've never think about `requestAnimationFrame` could be a s

[2016-09-09 03:00] windhost commented on #122
`respInfo:Object
  headers:Object
    Access - Control - Allow - Headers: "Origin, X-Requested-With, Content-Type, Accept"
    Access - Control - Allow - Origin: "*"
    Access - Control - Expose - Headers: "Refresh-Token"
    Content - Length: "47"
    Content - Type: "application/octet-stream"
    Date: "Fri, 09 Sep 2016 02:48:10 GMT"
    Refresh - Token: "..4VJPjD2iKfpM-"
  __proto__ : Object

[2016-09-09 03:21] wkh237 commented on #122
@windhost , thanks for the detailed information that's really helpful, basically our network module will try to decode response data as UTF8 string if it failed encode the data using BASE64 encoding.  Looks like this process success on Android but failed on IOS, as such it result in inconsistent behavior.

To solve this problem, I'm planning to add an extra option to `fetch` so that the response d

[2016-09-09 04:38] windhost commented on #122
You have solved this problems, that help me a lot. Thank you a thousand! I'm waiting for your update.

[2016-09-09 10:09] wkh237 opened #124 "Support fs.read and fs.write for writing access file base on offset and length"

[2016-09-09 22:45] stefan-feltmann commented on #118
`0.9.4` seems to have solved the issue.  It took some configuring, but after setting it to use big chunks (20000000) and longer intervals (10000), everything is fine and it isn't freezing anymore.

Thanks a lot for looking into this.

[2016-09-11 02:53] #105 closed

[2016-09-11 08:49] yaronlevi opened #125 "Can I use RNFetchBlob with "path""
Hi ! Thank you for reporting an issue, but we would like to remind you, we have a trouble shooting page in our wiki. You may want to take a look on that page :p

* please provide the version of installed library and RN project.
* a sample code snippet/repository is very helpful to spotting the problem.
* issues which have been tagged as 'needs feedback', will be closed after 2 weeks if receive no

[2016-09-11 09:00] yaronlevi opened #126 "Can I use RNFetchBlob with "path" config to save to local file system?"
Hi... I want to save users image thumbnails to the file system in react native. (think of a chat app, with small round images). I want those images to be saved to local file system, so in the next time they will be loaded directly from file system (and not downloaded again).

So I look at this code:
[code]
This code will happen once when first downloading the image.
Will this code write the file 1

[2016-09-11 09:20] #125 closed

[2016-09-11 12:37] wkh237 commented on #126
Yeah, I think the usage is correct, but it's recommended to make sure that `dirs.DocumentDir + '/userThumbnails/` exists by using our [fs API](https://github.com/wkh237/react-native-fetch-blob/wiki/File-System-Access-API). Besides, the our network module has default cache mechanism, which might result in unexpected behavior, to disable it, you can simply set a [Cache Control Header](https://develo

[2016-09-11 13:02] yaronlevi commented on #126
Ok great! I will try it and come back with results.
Good thing you mentioned the Cache-Control thingy. It probably will save me few burnt days (-:
Though I am little confused with "fileCache:true" config. They are not the same?
Maybe an entry in the docs regarding Cache-Control would help fellow programmers.

[2016-09-11 13:37] wkh237 commented on #126
@yaronlevi , thanks for your advice 😄 I'll add it to the document.

`fileCache : true` is similar to `path: ...` they both store the response data in file system. The only difference is the former uses a random generated file name which will always located in DocumentDir and the later uses a customized location.

On IOS `DocumentDir` is the `Documents/` folder under app's bundle, here's the descri

[2016-09-12 01:13] #110 closed

[2016-09-12 07:11] wkh237 commented on #122
@windhost , I've published `0.9.5-beta.2` which allows you force response format.

[code]

Please try upgrade to this version, see if it solves the problem, thank you 😄

[2016-09-12 07:24] windhost commented on #122
OK, I will do this.

[2016-09-12 07:44] windhost commented on #122
It works on android. Thank you for you reply!
`respType:""
rnfbEncode:"base64"
state:"2"
status:200`

[2016-09-12 07:55] wkh237 commented on #122
Great ! 👍  Nice to know it works 😄

[2016-09-13 16:40] adammenges opened #127 "Base64 APIs"
-- please provide the version of installed library and RN project.

0.32

-- a sample code snippet/repository is very helpful to spotting the problem.

actually it's a question about your readme, when you say
[code]

What ""base64" APIs" are you referring to?

[2016-09-14 02:54] wkh237 commented on #127
Hi, @adammenges it uses the library [base-64](https://github.com/mathiasbynens/base64), the instruction is moved to wiki so I'll add a link to [our wiki](https://github.com/wkh237/react-native-fetch-blob/wiki/Fetch-API#base64), thank you 😄

[2016-09-14 04:26] adammenges commented on #127
Ah, thanks!

# Sent from iPhone, excuse brevity

[2016-09-16 09:11] kuhbaar opened #128 "After upgrade "undefined is not an object""
Hi,

After executing "npm install" my react-native-fetch-blob got upgraded apparently:

Starting the app now results in:

on the line:

Note: I haven't changed any links, and double checked them - the entries in settings.gradle and mainActivity.java are still there.

Any ideas? I'm using react-native v0.31

[2016-09-17 02:58] wkh237 commented on #128
@kuhbaar , looks like you're using polyfills in `0.7.5`, but they're available in `0.8.0+`, please check [our wiki](https://github.com/wkh237/react-native-fetch-blob/wiki/Web-API-Polyfills-(experimental)#user-content-blob).

You may have to upgrade the library you've installed by the following command

[code]

[2016-09-17 03:11] #127 closed

[2016-09-17 17:02] vaibhawc opened #129 "Memory keeps rising"
Hi @wkh237, it feels good to see this library being used and liked. Thanks.
I have been facing an issue lately, where the memory keeps rising in steps even when I am finished using the library. On another instance it does not happen while I am not using `uploadProgress`.
I am basically trying to make a messaging app where user can upload files (mostly never even 1 MB) and while it is uploading he

[2016-09-17 19:54] atlanteh opened #130 "firebase createUserWithEmailAndPassword wrong error on ios"
We have firebase up and running in our app. We tried adding fetch-blob to add files to firebase storage.
However suddenly firebase started producing us wrong message on createUserWithEmailAndPassword.

Normally when we create a user with createUserWithEmailAndPassword, the Promise should reject with error.code "auth/email-already-in-use" when the email is already in use.
However when adding fetch-

[2016-09-17 21:33] leotu opened #131 "Catch exception error but without http error code"
Document say that when http response error would return statusCode (404, 304, 500,...)
i.e,
[code]
But I always get undefined for variable:  "statusCode".

Additional Information:
react-native:  0.29.2
react-native-fetch-blob: 0.9.4
iOS: 8.X & 9.X

[2016-09-18 01:10] wkh237 commented on #130
Thanks for your reporting, I will look into this issue and update the status in this thread.

[2016-09-18 01:13] wkh237 commented on #131
@leotu , thank you for the information, I'll try to add the missing part and update the status in this thread : )

[2016-09-18 02:13] wkh237 commented on #129
Hi @vaibhawc , it's been a while since last time 😏 I think the problem is caused by native module. I'll look into it, hope I can figure out this asap. Besides, does it happens on both Android and IOS ?

[2016-09-18 05:55] abettilyon commented on #110
@matthieubessol , I'm having the same problem you are.  uploading to firebase storage just never happens.  Any hints on what you did to get it working?

[2016-09-18 08:15] wkh237 commented on #110
@abettilyon , would you mind provide sample code snippet, installed library, and RN version ?

[2016-09-18 08:24] wkh237 commented on #130
@atlanteh , I've confirmed that t reason why the error message inconsistency between Android and IOS is because IOS throws error when status code is not 2xx but Android does not, I've changed IOS implementation and published a new release `0.9.5-beta.3`, please try install the version and see if the problem got fixed 😄

[code]

[2016-09-18 08:29] wkh237 commented on #131
@leotu , after some investigation I think this is a design error on IOS, a response with status code other than 2xx should not cause a promise rejection. Therefore I've changed the implementation and published a new version `0.9.5-beta.3`. Please try install this version and you should be able to handle the request status code directly in `then` block instead of `catch` block.

[code]

Thank you !

[2016-09-18 09:05] wkh237 commented on #129
@vaibhawc , I've done some tests on IOS devices which are basically upload files simutaneously. Perhaps it's related to a change in `0.9.4`.

Due to some providers does not support the encoding #94 we disabled `Chunked` transfer encoding by default after 0.9.4.

Here's the result when use `Chunked` encoding, upload 100 files (each file is  ~6MB, 10 files each time), the memory usage is around 35MB

[2016-09-18 15:42] atlanteh commented on #130
Yes. It solves the problem :)

[2016-09-18 16:46] vaibhawc commented on #129
Hi @wkh237, this is some informative piece I just skipped. I am doing some more testing and let you know. (need to be sure there isn't some other piece of code causing problem)

[2016-09-18 17:05] abettilyon commented on #110
Here is the upload function that I'm trying to run.

I've tried wrapping everything with await calls and it seems as though .build never finishes.

[code]

[2016-09-18 17:23] abettilyon commented on #110
An update here, I've simplified the code significantly to try and troubleshoot.

[code]

the console.log call never happens, as the Blob.build call never finishes.

[2016-09-18 18:35] abettilyon commented on #110
Well, I feel silly.

When calling my upload_image function, I was passing the full react-native image object { uri: "/path/to/file" }.  I changed it to pass image.uri and it now works!

[2016-09-18 19:03] abettilyon commented on #110
ARRGG!!  even though now I'm getting this from Firebase!
{"code":"storage/unknown","message":"Firebase Storage: An unknown error occurred, please check the error payload for server response.","serverResponse":"Multipart body does not contain 2 or 3 parts.","name":"FirebaseError"}

[2016-09-18 22:22] yaronlevi opened #132 "Delete entire folder?"
Hi!
Is there an fs API call that can delete an entire folder?
Iterating over an calling unlink() many times seems bad )-: (slow?)

[2016-09-18 23:23] yaronlevi commented on #126
It works like charm!
I wrapped it in a Promise:
[code]

And then called it from a redux-saga:
`yield call(FetchBlobSrv.downloadFileFromUrlToPath, url, imageLocalUri);`

[2016-09-18 23:23] #126 closed

[2016-09-19 00:45] wkh237 commented on #130
Great! Let's close this issue

[2016-09-19 00:45] #130 closed

[2016-09-19 03:48] wkh237 commented on #132
Hi @yaronlevi , I think this is exactly what we're doing in native `unlink` implementation, you can delete a folder in a single call

[code]

However, if the folder contains lot of files the process might take some time.

[2016-09-19 03:50] leotu commented on #131
Ok, I will try it.
Catch http status code is very important that I need to control my cache design.
i.e, use Etag & If-None-Match communicate with "Images Web Server".
for example:  return 404 for using default image, 304 for using local cache image.

[2016-09-19 03:58] wkh237 commented on #110
@abettilyon , what does image.uri looks like ? if it has prefix `file://` you should remove it, and if you're creating blob from an existing file the file will be remove if you call `blob.close`

[2016-09-19 05:11] wkh237 commented on #129
@vaibhawc , could you try to replace the `uploadProgress` with an empty function ?

[code]

If you update GUI in the upload progress handler and it triggers at high frequency , it's also possible becomes a quite performance overhead

[2016-09-19 06:59] wkh237 commented on #131
@leotu , thanks for your information 👍 Specifying `path` in config, that will force the response body write to the location regardless the original one, when the response is 304 the response body is empty so the original file becomes an empty file.

Perhaps you can try use the following workaround with `0.9.5-beta.3`

[code]

[2016-09-19 08:15] #118 closed

[2016-09-19 11:45] sudham opened #133 "Fetch returns path - but no file is downloaded"
I check and add permissions for read/write to external storage in using  react-native-android-permissions at runtime. The following code returns the path but the image is not downloaded to the path.
   componentWillMount() {
          var url = 'http://SKM:5000/user.png';
          let dirs = RNFetchBlob.fs.dirs
          RNFetchBlob
            .config({
              path : dirs.DocumentDir + '/

[2016-09-19 11:48] kuhbaar commented on #128
Updated to newest version and it works now. Wonder why it was set to 0.7.0 though

[2016-09-19 14:39] wkh237 commented on #133
Hi @sudham , if you are going to download the file to specific location you don't need `fileCache` option, please try the following usage

[code]

[2016-09-19 22:35] nicholasstephan opened #134 "Type annotations."
I'm getting the following error with v0.9.4 and React Native 0.31.0.

[2016-09-20 01:01] abettilyon commented on #110
The magic I was missing was:

window.XMLHttpRequest = RNFetchBlob.polyfill.XMLHttpRequest;

After adding that, things started working as expected.  I actually DO want to call blob.close because I'm copying a newly created resized file from the original.

Thanks for the help!

[2016-09-20 05:27] wkh237 commented on #134
@nicholasstephan , thank you for reporting the bug, I've fixed it and published a `beta` release `0.9.5-beta.4`, please try use this version instead 😄

[2016-09-20 05:49] leotu commented on #131
It works.
"0.9.5-beta.3"

Thanks.

[2016-09-20 07:39] kenny1har commented on #134
tested, and working.

[2016-09-20 12:51] ChristianTucker opened #135 "Question- Creating a Blob from base64 data in memory. (IE: From Camera)"
Hello, I'm attempting to use your polyfill implementation to allow my React-native application to upload images to my Firebase Storage. However, the implementation is a bit confusing. It seems to me like the only way to build a blob is for the file to be stored on disk, or remotely somewhere.

When obtaining information from the camera, we get it in a Base64 encoded string, so for example, it may

[2016-09-20 13:08] ChristianTucker commented on #135
For anyone curious, I found the solution after digging around in the Blob.js file, considering the Blob polyfill doesn't have any documentation on the README.

[code]

[2016-09-20 13:31] yaronlevi commented on #132
thanks it worked! thanks
Maybe the docs could be updated "delete file or entire folder". just to be clear

[2016-09-20 13:31] #132 closed

[2016-09-20 14:08] franrios opened #136 "Stream an audio file using react-native-tcp"
Hi ! Thank you for reporting an issue, but we would like to remind you, we have a trouble shooting page in our wiki. You may want to take a look on that page :p

* please provide the version of installed library and RN project.
* a sample code snippet/repository is very helpful to spotting the problem.
* issues which have been tagged as 'needs feedback', will be closed after 2 weeks if receive no

[2016-09-20 14:45] wkh237 commented on #132
@yaronlevi , thanks for the advice I'll update the document once I have time 😄

[2016-09-20 14:48] wkh237 commented on #136
@franrios , thanks for reporting this issue, I'll look into it and update my progress here 👍

[2016-09-20 15:02] wkh237 commented on #135
@ChristianTucker , thanks for the information 👍  It is possible to create a blob from memory, simply  append `;base64` to the content type, please [see our wiki](https://github.com/wkh237/react-native-fetch-blob/wiki/Web-API-Polyfills-(experimental)#builddata-optionspromise) ). I suppose it should work correctly 😏

[2016-09-20 22:05] ChristianTucker commented on #135
@wkh237  I completely missed the Wiki somehow, I was wondering where the extra documentation was hiding. Works perfectly, sorry for the false issue.

[2016-09-20 22:05] #135 closed

[2016-09-21 01:39] wkh237 commented on #136
@franrios , after some test, I think the `readStream` is working correctly.

I've noticed in the code snippet you've provided

[code]

may having some problem since the `chunk` is an Array when reading stream using `ascii` encoding. You may replace it with this

[code]

I think this will give you correct file size 😏

Besides, the `ascii` encoding is somehow slower than other encoding, please refer

[2016-09-21 02:07] #82 closed

[2016-09-21 02:07] #121 closed

[2016-09-21 02:54] nicholasstephan commented on #134
I've just updated, and it's working perfectly. Thanks for the quick turnaround. Awesome work.

[2016-09-21 06:25] brianjd commented on #126
@yaronlevi `fetch()` is already returning a promise, see [here](https://github.com/wkh237/react-native-fetch-blob/blob/master/src/index.js#L114):

[code]

[2016-09-21 06:40] yaronlevi commented on #126
oh you're right, thanks.

[2016-09-21 09:19] #134 closed

[2016-09-21 09:19] #131 closed

[2016-09-21 09:19] #123 closed

[2016-09-21 09:19] #122 closed

[2016-09-22 15:39] shahen94 opened #137 "Android build failed"
I'm using React-native 0.33;
react-native-fetch-blob 0.9.5;

I can't build my android app.
It's starts work when i added this line below into my `build.gradle` file.

`compile 'com.squareup.okhttp3:okhttp:3.4.1'`

[2016-09-22 15:41] slavikmanukyan commented on #137
+

[2016-09-22 22:40] siyuan opened #138 "Could add home dir in RNFetchBlob.fs.dirs ?"
Sometimes I need home dir:
/storage/emulated/0/
Could this be added to RNFetchBlob.fs.dirs ?
Thanks.

[2016-09-23 01:17] wkh237 commented on #137
@shahen94 , thank you for reporting this issue 😄  I'm not sure if it's okay to add OkHttp dependency by default, because it cause app crash on some versions.

I'll leave this issue open for reference until I figure it out

[2016-09-23 01:21] wkh237 commented on #138
@siyuan , thank you for the advice, I think it's reasonable.

I'll try add this constant to `fs.dirs` , also feel free to make a PR if you have any idea on this 😄

[2016-09-23 08:47] franrios commented on #136
Thanks for your response @wkh237, at the end I needed to use 206 Partial content status code so I  used `socket.write(chunk,'ascii')` in order to allow streaming instead of a full download.

[2016-09-23 12:20] VedmakAkaPriest opened #140 "Feature: add option to divide progress"
Hi ! First, I would like to express my gratitude for your library - I use it with pleasure in my project :)

As I investigate while using your library, current implementation of progress callback cause to performance issues on UI. For example, when try to download / upload a few large files in parallel.

I can suggest new feature - progress divider option for download / upload callbacks. For examp

[2016-09-23 12:49] haibinyu opened #141 "the downloaded partial file is override when resume breakpoint download"
react native： 0.33.0
react-native-fetch-blob：0.9.5.

In my project, I need to implement file breakpoint download.  When the file is download partially (for example 50%), I exit the app, and then open the app to continue the file download, the content already downloaded in the file is gone.

[2016-09-23 14:32] wkh237 commented on #140
@VedmakAkaPriest , thanks for the advice. I think you're right, even though we can set a debounce mechanism in JS context, there will always be an overhead to sent data from native context to JS context.

I'll add this feature in `0.9.6`. I'm planning to add an additional argument to `uploadProgress` and `progress` so that it can be used like this

[code]

How do you think ?

[2016-09-23 14:35] wkh237 commented on #136
@franrios , does it working properly ? If it's not please feel free leave any feedback 😄

[2016-09-23 14:39] wkh237 commented on #141
@haibinyu , thank you for the information, I've never considered about this scenario, but it'd be great if we can fix this, I'll try fix it in next release ( probably 0.9.6).

There will be a `beta` release once I fix it 👍

[2016-09-23 14:40] wkh237 commented on #115
related #141

[2016-09-23 17:59] VedmakAkaPriest commented on #140
It looks great! Thank you

[2016-09-24 08:03] wkh237 commented on #141
@kejinliang  , @haibinyu , after doing some tests on both Android and IOS, I think they both acting the same  at this moment.

The PR #139 changes the behavior so that the response data always appended to the file if it already exists, but I think this change may effect those who use it by intended for replace the existing file.

In my opinion,  it's better to introduce an option for better backwa

[2016-09-24 08:17] haibinyu commented on #141
I agree that it is better to add a config option to enable append file behavior.

[2016-09-24 08:30] haibinyu commented on #141
Thanks for the workround, 👍

[2016-09-24 12:57] vaibhawc commented on #129
Hey @wkh237, I am very sorry I am late to reply as I had forgotten about the thread. I faced another question and realized this issue is still open. Also, the problem here was with my code only. But thanks, you took out time to diligently test it out and explain things I would have skipped otherwise.
There is another query (not an issue) that I have, but I will have to open it as an issue.

[2016-09-24 12:57] #129 closed

[2016-09-25 18:53] TechBK opened #142 "[question] How to download xlsx file then using SheetJs to convert to workbook?"
My project need download a xlsx file and read it.
I using https://github.com/SheetJS/js-xlsx.
Plzz show to me how to do it with `react-native-fetch-blob`.

Example with ajax:

[code]

[2016-09-26 01:28] wkh237 commented on #142
@TechBK , unfortunately I think it's not possible to make it work in RN at this moment. SheetJS uses many Web APIs that RNFB and JSC not yet implemented, such as FileReader, and Typed Array it might took lot of time to make it work.

On the other hand, I think SheetJS there'd be some performance issue even if we make it work since it uses Typed Array extensively.

[2016-09-26 05:30] wkh237 commented on #141
@haibinyu , I've published a `beta` release to npm, please try upgrade you package.

In this version, you are able to append response data to existing file by append `?append=true` to the file path

[code]

[2016-09-26 05:44] wkh237 commented on #140
@VedmakAkaPriest , I've published a `beta` release to npm (0.9.6-beta.1), please try upgrade the package and see if it works 👍

In this version, you can provide an object as 1st argument of `fetch.uploadProgress` and `fetch.progress` which contains property`count` and `interval`.

[code]

`interval` will limit the frequency of progress event (in `ms`), and `count` is a progress divider. This chang

[2016-09-26 06:40] sudham commented on #133
RNFetchBlob.fetch( 'GET', url ).then((response) => {
              let base64Str = response.data;
              fs.writeFile(imageLocation, base64Str, 'base64');
              console.log("FILE CREATED!!");
              RNFetchBlob.fs.scanFile([ { path : imageLocation } ]).then(() => {
                  console.log("scan file success"); return( 'success' );
                })
                .cat

[2016-09-26 06:40] #133 closed

[2016-09-26 10:18] mihirk commented on #137
+

[2016-09-26 14:23] haibinyu commented on #141
@wkh237 :+1: , I will try and let you know the result.

[2016-09-28 12:09] VedmakAkaPriest commented on #140
@wkh237 ,  I tested this feature in my project and all works fine.
But there is one small bug (not sure, this is not essential):  when set interval = 0 in options, it considers that interval did not given at all, and resets to default.

Thank you for your work :)

[2016-09-28 13:16] wowzaaa opened #143 "OSC getLivePreview implementation"
Hey

I need to implement the getLivePreview command from Google Open Spherical Camera API
https://developers.google.com/streetview/open-spherical-camera/reference/camera/getlivepreview

What i need to do is a POST with some data that will tell the endpoint i need the getLivePreview stream ... the output is a video stream of MOTION Jpegs at 15fps ... the pb is that i need a way to display them in j

[2016-09-29 02:18] wkh237 opened #144 "XMLHttpRequest should not automatically change ResponseType"
This is different with the description in W3C standard, and it will cause error. For example, Firebase Login and realtime database.

[2016-09-29 06:59] wkh237 commented on #143
Hi @wowzaaa , this is very interesting, from my understanding if you send a POST request it should return something like this

[code]

Then you can extract frames by split the data with `boundary`, for example

[code]

basically it's possible, but I think there will be some performance issue when split and render the frames if the image resolution is high 😕

[2016-09-29 07:10] wowzaaa commented on #143
1) so frames[frames.length - 1] will have the latest frame right?
2) u mean because of the size of the response buffer?
3) will then get executed on every change of the stream? every 66 ms (  1 000 / 15 = 66.. ) ?

i will try to implement this and get back to u ... until now i could not get even a console log from the success function (i did it the old way ... without promises)

[2016-09-29 07:24] wkh237 commented on #143
Well, after some investigation I think `multipart/x-mixed-replace` data will never reaches an end, each part will be considered as replacement of previous part, and that's why the success function never got called. If we're going to support this I need do some more tests, wondering if there's any way I can have a working sample for this ?

[2016-09-29 07:29] wowzaaa commented on #143
well in order to have that u need a one shot camera like a ricoh theta s, gear 360 or lg 360 ... that will be the only way to replicate the incoming stream

[2016-09-29 08:51] wkh237 commented on #143
okay .. I will write a video streaming service to imitate the `multipart/x-mixed-replace` response, and see what can I do 👍

[2016-09-29 08:52] wkh237 opened #145 "Support Multipart/x-mixed-replace ?"
#143 Not sure if it's possible but worth of trying.

[2016-09-29 09:04] wowzaaa commented on #143
u'r a star .. i am here to test 💃 :P

[2016-09-29 13:31] wowzaaa commented on #145
i think i made some steps towards handling x-mixed-replace in js ... would it help sharing the code?

[2016-09-29 13:32] wkh237 commented on #145
Of course !

[2016-09-29 13:39] wowzaaa commented on #145
ok so this is the code i am using to debug this:

[code]

u see there are 2 console logs there so the output (partial output) looks like this:

[code]

1) biggest pb is that this request does not stop and since this is a continuous stream it does not need to stop so i need to manully stop it somehow
2) second pb ... is my actual image starting from the first � until the end?

[2016-09-29 13:51] wkh237 commented on #145
@wowzaaa , thanks for the information ,this is going to be very helpful.

The `multipart/x-mix-reaplce` type response means each new part ( data between two `---osclivepreview---` boundary  ) will replace the old one. That's why the server non-stopping send new part. If you're going to do it in JS context it's very difficult and inefficient, especially for RN.

Basically we can do this in native c

[2016-09-29 13:56] wowzaaa commented on #145
i do not want to be rude but one of the needs of my app is to work in windows phones too ... and since u r talking about native code ... this mean no windows right? :)

[2016-09-29 13:59] wkh237 commented on #145
Unfortunately, yes. This library depends on lot of native implementations and we are not yet supporting Windows.

[2016-09-29 14:06] wowzaaa commented on #145
ok at least i will know where i stand :) ... i will now wait for news from you ... like a little kid on Christmas' eve :P

[2016-09-29 14:52] wowzaaa commented on #145
one last favor before i will resume waiting :D
how do i convert the response part with binary data (or whatever it is ... the one i pasted on top) to base64? i cannot use normal javascript from what i see

i want to test this because i will need to show my clients some results and i cannot ask you when could this be ready to test ... :)

[2016-09-29 15:08] wkh237 commented on #145
React Native is running in a pure Javascript environment some APIs are not implemented, for example Web APIs, and the `atob` `btoa` you've mentioned. However you can use some polyfills, in my case I use [base-64](https://github.com/mathiasbynens/base64) to do this.

[2016-09-29 16:16] wowzaaa commented on #145
then i really do not know what to encode :(
- do i encode the content + Content-Type + Content-Length or i need to strip them out?
- if i do base64.encode(unescape(encodeURIComponent(x[x.length - 1]))) i can a base64 string but if i attach it to data:image/jpeg;base64,encoded_text the image i get is broken
- if i do base64.encode only ... it tells me the string contains characters outside Latin1

[2016-09-29 17:38] wowzaaa commented on #143
but u understand what i am saying right?

the question becomes ... how is the agent option useful to me? (a pageant user)

[2016-09-30 01:19] wkh237 commented on #145
A `multipart` response data just looks like this

[code]

Basically the image data is inside part body, so you have to stripe out boundary and part headers. But  the part data you pasted above have been encoded into UTF8 string and it's broken, even if you encode it into BASE64 string it's still broken 😞

[2016-09-30 02:53] wkh237 commented on #145
I'm able to make it working on iPhone6 right now 🎉

![stream-ip6](https://cloud.githubusercontent.com/assets/5063785/18979207/6f623bec-86fb-11e6-8b94-f7f0d3ad05df.gif)

keep work on Android part ..

[2016-09-30 07:01] wowzaaa commented on #145
nice .... :)
from what i understand u need to utf8.decode it first?
if it helps i can console.log some frames from my one shot camera so you can try out any combination to see what gets the image data out :)

there is one thing that puzzles me ... it is in this link:
https://jeff.mcfadden.io/articles/handling-motion-jpeg-streams-on-ios/

they say u receive chunks of data ... that do not necessaril

[2016-09-30 07:51] wkh237 commented on #145
The IOS part is done, because IOS SDK has very good support for `x-mixed-replace` data.  I'm now struggling with Android, looks like OkHttp does not support this feature, perhaps I have to do it on my own 💦

[2016-10-01 03:07] #144 closed

[2016-10-01 03:07] #140 closed

[2016-10-01 09:05] wowzaaa commented on #145
maybe this helps
https://supportforums.blackberry.com/t5/Java-Development/I-have-a-question-about-httpConnection-and-InputStream-on/m-p/648315#M133290

[2016-10-01 16:44] wowzaaa commented on #145
for Android maybe this can help
https://github.com/ArseniKavalchuk/multipart-x-mixed-replace-java-player

[2016-10-01 17:33] aubreywahl commented on #137
If it's of any consolation, I was able to build without a problem on Android (platform 23) with RN 0.34, Ubuntu 16.04

[2016-10-03 16:52] wowzaaa commented on #145
hey @wkh237 any news? can i help in any way? :)

[2016-10-04 04:44] cbcye opened #146 "Crash Running on RN0.34 and real device"
The application is working on iOS simulator but when i running on iphone 5s occus the following error:

invalid mode 'kCFRunLoopCommonModes' provided to CFRunLoopRunSpecific - break on _CFRunLoopError_RunCalledWithInvalidMode to debug. This message will only appear once per execution.
2016-10-04 12:29:05.896002 Huola[2722:1095583] *** Terminating app due to uncaught exception 'NSInvalidArgumentExc

[2016-10-04 04:53] wkh237 commented on #145
@wowzaaa , I'm little busy these days, still working on Android parser ..

[2016-10-04 04:56] wkh237 commented on #146
@cbcye , thanks for reporting this issue. Would you mind provide some more information about the iOS version and how you use the library when this error occurs ? It'd be great if you there's some code snippet or even a sample project 😄

[2016-10-04 05:08] wowzaaa commented on #145
@wkh237 got it ... take care

[2016-10-04 09:47] cbcye commented on #146
@wkh237  Thanks, my environment is : RN 0.34+react-native-fetch-blob 0.9.6+iOS 10.0.2 on iPhone 5S device,

The last step is line 140 in RNFetchBlobNetwork.m file, like below:

![image](https://cloud.githubusercontent.com/assets/869074/19069498/cf7be3c8-8a59-11e6-9b61-cecb5ab2d5ae.png)

after that i get the error like the first post on above, my app crash.

Application code like below, the code ha

[2016-10-04 10:00] wkh237 commented on #146
@cbcye , thanks for the information 👍 Could you remove lines 139,140,287,522 in `RNFetchBlobNetowkr.m` and try if it works ?  Thank you !

[2016-10-04 10:43] cbcye commented on #146
@wkh237  Thanks very much for your help !!! I spend near three days to resolve this issue( i use the react-native-fs module before and it is also this problem). I find **the real reason is my url has include Chinese words and it not been encode**. the url like below,:
http://xxx.com/?n=中国

before your suggest it doesn't throw the useful error message just crash. but follow your modify suggest it t

[2016-10-04 10:43] #146 closed

[2016-10-05 01:13] wkh237 commented on #146
@cbcye , great to know the problem got solved 👍  The information is really helpful,  I've spotted this problem befroe, but finally decided not changing the url implicitly as a result the library will not automatically URL encoding unicode characters.

However, I think it'd be better to notice developers about this in the document 😄

[2016-10-05 01:43] #136 closed

[2016-10-05 10:29] ignivaankushrishi opened #148 "How to move file from app Document folder to Iphone's document folder using RNFB"
Hi ! Thank you for reporting an issue, but we would like to remind you, we have a trouble shooting page in our wiki. You may want to take a look on that page or find issues tagged "trouble shooting" :p

* please provide the version of installed library and RN project.
* a sample code snippet/repository is very helpful to spotting the problem.
* issues which have been tagged as 'needs feedback', wi

[2016-10-06 03:44] wkh237 commented on #148
@ignivaankushrishi , not sure if I'm reading this right, from my understanding every IOS app running inside a sandbox, so they're not be able to access folders outside their app's home folder.

[2016-10-09 19:49] raminious commented on #108
when this feature will publish ?

[2016-10-10 04:41] mihirk commented on #137
@wkh237
Ok I am still getting a build failure even after upgrading React-Native to RN 0.34.
Also I don't understand if the library is using okhttp3 why is it not in the dependencies.

More info
Mac OS X El Capitan
RN 0.34
RNFetchBlob 0.9.6
Java 1.8 (Tried with 1.7 too)

P.S: Thanks for this library, its pretty awesome.

[2016-10-10 10:21] #141 closed

[2016-10-10 10:21] haibinyu commented on #141
it works now.

[2016-10-10 13:38] wkh237 commented on #108
Hi @raminious , basically this is already finished but I was planned to release it with other features in `0.10.0`. If you need this feature urgently I can publish a `beta` version (something like 0.10.0-beta.1) once I have time (perhaps in 2~3 days). How do you think ?

[2016-10-10 14:09] raminious commented on #108
Awesome
This release can save my time and also I can test this feature from many aspects and send feedback.

Thanks a lot @wkh237

[2016-10-10 14:57] raminious opened #149 "support multi connection download"
Is it possible add core feature to support multi connection per host ? (like aria2 with -x command)
It will increase download speed and make the module more powerfull

[2016-10-10 18:32] plougsgaard opened #150 "Android: Unexpected end of stream - bugs after updating SDK"
## Problem

I am making presigned `putObject` requests like this:

[code]

And it *worked perfectly* until I updated my Android SDK (to these versions):

- Android SDK Tools 25.2.2
- Android SDK Platform-tools 24.0.3
- SDK Platform (API 23) 23.0.3

I don't know what the versions were before and I don't think I can downgrade them either. Any clue where to start?

## Versions

- "react-native-fetch-

[2016-10-11 12:48] aouaki opened #151 "Android: expected dynamic type `string', but had type `int64'"
Hi and thanks for this amazing package!

I have no trouble sending a file from storage but when I try to send a base64 image I have a mysterious error. It works like a charm on iOS but not on Android. Here is the function I use to send the base64 data:

[code]

As a result, the call to the server is indeed made, without any data passed by. Again, this is working 100% fine on iOS. I receive two war

[2016-10-11 15:28] wkh237 commented on #151
Hi @aouaki , thanks for reporting this issue. According to the error message I assume one of the form field is a `number` instead of `string`, could you please check if there's any `number` in these lines ?

[code]

Please feel free leave any comment, thank you 😄

[2016-10-12 00:21] 3vilguy commented on #78
Using react-native-fetch-blob 0.9.6 and I'm still getting this issue :(
`(...) node_modules/react-native-fetch-blob/android/src/main/java/com/RNFetchBlob/RNFetchBlobBody.java:20: error: package okhttp3 does not exist
import okhttp3.MediaType;`

RN 0.33.0

[2016-10-12 02:23] wkh237 commented on #108
@raminious , I've published a `beta` release to NPM, this feature is now available in `0.10.0-beta.1`.

Upgrade the package via

[code]

[2016-10-12 10:46] #142 closed

[2016-10-12 10:48] wkh237 commented on #149
On Android OkHttp uses thread pool, I assume it already supports multiple connections, as for iOS I will take some time to investigate :)

[2016-10-12 10:52] wkh237 commented on #150
Not sure how to reproduce it, but looks like it happens when using fixed length request. I will look into it.

[2016-10-13 13:11] aouaki commented on #151
Hi @wkh237 it now works, after changing the code you mentioned to
[code]

So I guess the native code is waiting for a string, while it should be waiting for any type of JSON object...

Thanks!

[2016-10-13 15:20] blackxored opened #154 "Allow passing unparsed response body to error handler"
I've this specific backend that returns 400 but also a payload (i.e body) indicating the errors. Dropping this library into the project prevents me from doing further processing of that body as I would do with native fetch's catch right before parsing. Error handler only seems to be given a message (since `respInfo` is broken, as you need to add it as a property or make a custom Error class), and

[2016-10-13 20:25] wowzaaa commented on #145
hey ... do not want to be rude or anything ... should i consider this lead dead and move on? :)

[2016-10-13 23:45] 3vilguy commented on #78
Scrap last comment. I made a brand new project and after installing `rnfb` lib there it was working so there must've been something wrong with the android project in my previous project.

[2016-10-14 05:54] raminious commented on #108
Thank you for this update @wkh237

[2016-10-14 07:39] MQZhangThu opened #155 "[ios] Request timeout when PUT file to AWS S3"
hi, when I `PUT` image to AWS S3, **sometimes** AWS returns error as below: `<Error><Code>RequestTimeout</Code><Message>Your socket connection to the server was not read from or written to within the timeout period. Idle connections will be closed.</Message><RequestId>94D59C19C07F4820</RequestId><HostId>QuLF/WaJ5QWW8SdFKIc5e8f0WnNgVFedPz/FPeBcT0pdwfq+hhgYcor0Nggx5qTfON4rHtsGWWSkqybJSUGcFOO5c2dYmP4

[2016-10-14 07:55] wkh237 commented on #155
@MQZhangThu , thanks for the information, I assume this is due to the library computed in incorrect `Content-Length`, such that the server is waiting for more data but the request body has already sent. I'll try to figure out where's the problem.

Besides, is the `PUT` request a multipart request ?

[2016-10-14 07:55] MQZhangThu commented on #155
To be more specific, I use pre-signed url to`PUT` file to S3, so I think it is not caused by the S3 Services. In my code, I use a loop `for` to upload 3 images. Code skeleton is as below:
[code]

[2016-10-14 07:56] wkh237 commented on #154
@blackxored , thanks for the suggestion. I'll try to fix this bug once I have time 👍

[2016-10-14 07:59] wkh237 commented on #145
@wowzaaa , sorry for replying late. I still can't find a solid solution on Android, and I'm quite busy these days. However I'll keep work on it once I have time.

[2016-10-14 08:08] MQZhangThu commented on #155
The image selector used is [react-native-image-picker](https://github.com/marcshilling/react-native-image-picker).  It is not `multipart request`, because the image size is below 5MB. In each experiment, one of the 3 images ( sometimes the second one, sometimes the third one) will encounter this error.

[code]

[2016-10-14 09:10] MQZhangThu commented on #155
@wkh237  To check whether it is `content-length` problem, I want to pass the `content-length` Header explicitly ( In this case, my app knows the `content-length`), as `{'Content-Length': 'xxxx'}`.

 Do I have to modify some other codes in RNFetchBlob module to make this setting effective? I mean, will the RNFetchBlob calculate the length again and over-write it?

[2016-10-14 09:19] MQZhangThu commented on #155
It seems that It works well for android, as addressed in #94 .
Problem is on **IOS**.
FYI.

[2016-10-14 09:20] wkh237 commented on #155
I'm not sure if you can overwrite the `Content-Length` from JS context since it's calculated by the SDK if you're not using `Chunked` encoding.

[2016-10-14 10:07] Meshz opened #156 "[SPO] HTTP-Only/Secure Cookies"
Hello,

First of all, thank you for this awesome & helpful package.

I got an issue trying to download a file from SharePoint Online. I log into SPO through the "Fetch API" of RN. In the reponse headers of the login method I get 2 cookies that are HTTP-Only & Secure named "rtFa" & "FedAuth". These cookies are automatically set and sent back with every further request.

When I use the Fetch API, I'

[2016-10-14 10:14] wkh237 commented on #156
Thanks for reporting this issue. Does it happens on both Android and iOS?

[2016-10-14 10:19] Meshz commented on #156
I only tried on Android for now tbh.

Do you want me to setup it on iOS and check if it fails too?

[2016-10-14 14:14] wkh237 commented on #156
@Meshz , after some investigation I think this may due to the lack of cookie storage mechanism on Android native implementation. I'll add it and publish a beta release.

[2016-10-14 14:22] Meshz commented on #156
@wkh237 Thanks for your feedback. If u want me to do any tests, I'll be glad to *help*. :)

[2016-10-14 15:15] MQZhangThu commented on #155
works well on iPhone devices, rather weird.

[2016-10-14 15:16] #155 closed

[2016-10-14 15:18] wkh237 commented on #155
@MQZhangThu , thank you for the informations 👍  I'm wondering if it only happens when sending reuqests simutaneously, I'll do some test on it.

[2016-10-14 15:20] wkh237 opened #157 "Supports cookies CRUD"
Related to #156 , I think it's reasonable to have APIs for manage cookies
- [x] IOS CRUD
- [ ] Android CRUD  (#220)
- [ ] Test cases
- [ ] Documentation

[2016-10-15 01:40] wkh237 commented on #156
@Meshz , I've added the cookie storage to Android, please try upgrade the package to `0.10.0-beta.2` and see if it works. Thank you 😄

[2016-10-15 01:42] wkh237 commented on #154
@blackxored , I've change the error handling on native side, I think it should works as expected now. Please try upgrade to `0.10.0-beta.2` and see if it works propery 😄

[2016-10-15 07:59] Meshz commented on #156
@wkh237 I'll test as soon as I can, problably coming back to you on Monday. Thanks!

[2016-10-15 10:04] raminious commented on #108
@wkh237
I tested these functions today

RNFetchBlob.ios.openDocument: Not worked without throwing any error.
RNFetchBlob.ios.previewDocument: Directly opens file without showing action menu.

iOS: 10 (simulator)
react-native: 0.34.1
path: /Users/raminious/Library/Developer/CoreSimulator/Devices/AFCFB1EA-23C3-4B77-961C-CC431B55D4CF/data/Containers/Data/Application/324FD0EB-73B7-4EE7-9254-3C4B67857D

[2016-10-15 13:30] raminious opened #158 "openDocument not working on iOS"
**RNFetchBlob.ios.openDocument**: Not worked without throwing any error. it only return null result on success promise.
It also not throw error when file is not exists.

iOS: 10 (simulator)
react-native: 0.34.1
path: /Users/raminious/Library/Developer/CoreSimulator/Devices/AFCFB1EA-23C3-4B77-961C-CC431B55D4CF/data/Containers/Data/Application/324FD0EB-73B7-4EE7-9254-3C4B67857D92/Documents/myvid.mp4

[2016-10-15 14:55] raminious commented on #158
I'm not iOS developer but I changed
[code]
to
[code]

And now it's working.

[2016-10-15 14:57] wkh237 commented on #158
@raminious , thanks for the information, I'll try to change the implementation 👍

[2016-10-15 15:10] raminious commented on #158
Thanks @wkh237
I think openDocument must open file directly with associated app and previewDocument must show action menu for interact with the file (presentOptionsMenuFromRect)
Currently these functions are working vice versa.

[2016-10-15 15:13] wkh237 commented on #158
Thanks for the advice, if the naming is confusing, I think it's okay to change their name 😄 I'll make these changes and publish another package to npm.

[2016-10-16 02:20] wkh237 commented on #158
@raminious , I've published `0.10.0-beta.3` to npm, please upgrade to this version and verify the changes, thank you !

[2016-10-16 07:30] raminious commented on #158
Thanks @wkh237

[2016-10-16 07:30] #158 closed

[2016-10-16 07:47] raminious commented on #149
Thank you
Android OkHttp works by default or should we config something ?
If yes, is documented somewhere ?

[2016-10-17 10:29] Meshz commented on #156
@wkh237 I tried both `0.10.0-beta.2` and `0.10.0-beta.3` and it's not working on my HTC One X+ - 4.4.4 (KitKat API Level 19). Do you need any additional info / output?

[2016-10-18 11:25] eggeggeg opened #159 "IOS can not connect to https SSL certificate with config trusty:true but Android can"
"react-native": "0.33.0",
"react-native-fetch-blob": "^0.9.6",
XcodeVersion 7.3.1

as title,

and I checked didRectiveChallenge function in RNFetchBlob.xcodeproj/RNFetchBlobNetwork.m

When I connect to HTTPS with using trusty:true , didRectiveChallenge will not be entered , so I get failed result.

But if I remove the if block ,

`if ([options valueForKey:CONFIG_TRUSTY] != nil)
{
        completio

[2016-10-19 11:02] mikemonteith opened #160 "polyfill.Fetch object request body (application/json ) being converted to string"
It seems that fetch() calls with a JSON body, the JSON is being converted to a string.

This is the whatwg-fetch way of doing a JSON post:

[code]

I have also tried

[code]

I think that polyfill.Fetch is converting my JSON-string into a string-containing-a-JSON-string.

[2016-10-19 11:04] mikemonteith commented on #160
https://github.com/wkh237/react-native-fetch-blob/blob/master/src/polyfill/Fetch.js#L50

Should this line be `else if (typeof body === 'object')`?

[2016-10-20 15:42] haibinyu opened #162 "add api to get total space and total available space"
It would be very useful to check whether the free space is available before downloading a large file.

[2016-10-21 09:54] wkh237 commented on #162
Okay, I'll add this to 0.10.0 milestone, a PR is also welcomed 👍

[2016-10-21 14:39] wkh237 commented on #159
@eggeggeg , after some tests I think this is a bug. I'll fix this part and release a `beta` version in these days, thank you 👍

[2016-10-21 14:46] wkh237 commented on #156
@Meshz , I'm now familiar with SharePoint so I'm not be able to gather enough information for this issue, is there any way I can test it ? I think it'd be helpful, thank you 😄

[2016-10-21 14:47] #148 closed

[2016-10-21 14:48] #128 closed

[2016-10-21 14:49] #59 closed

[2016-10-21 15:34] wowzaaa commented on #145
hey ... is there anything i can do? should i learn android and try to do it? i would prefer for this to be part of ur library and not make a new one

[2016-10-22 14:12] Meshz commented on #156
@wkh237 I just sent you all the necessary files on your e-mail (x...n@gmail.com). Please let me know if u need any other info!

[2016-10-22 15:31] wkh237 commented on #162
@haibinyu , this API has been added in `0.10.0-beta.4`, please try if it works correctly, thank you 👍

[2016-10-22 15:33] wkh237 commented on #160
@mikemonteith , FYI, I've published `0.10.0-beta.4` which includes your PR 👍

[2016-10-22 15:35] wkh237 commented on #159
@eggeggeg , I've published `0.10.0-beta.4` which should fix this bug, please upgrade the package and verify the fix, thank you 😄

[2016-10-22 15:40] wkh237 commented on #145
@wowzaaa , I've tried to implement a body parser on Android but the performance has very big problem still trying to find a better solution.

On the other hand, I'm quite busy these days, as such I can just fix those bugs which take less time.  If you can make a PR that would be grateful ! 👍

[2016-10-23 05:00] wkh237 commented on #156
@Meshz , thanks for the assistance, that really helps 👍

After some investigations I've spotted that you're using official Fetch for authorization but try to make a request with RNFB.fetch. The problem is, RNFB's network APIs uses its own cookie and cache storage as such cookies are not sent to SharePoint. I suppose you should replace all the methods with RNFB.fetch (you can simply rewrite them or

[2016-10-23 11:45] Meshz commented on #156
@wkh237 Thank you for your investigation. I tried before opening this issue to replace all fetch functions with RNFB.fetch as I thought this was the problem but it wasn't working neither.

I did it back and now it's perfectly working on Android! I guess the cookies support u added did the job. Is there any downsides using RNFB.fetch everywhere instead of official Fetch API? BTW, the error message

[2016-10-23 15:26] tuckerconnelly opened #164 "Reorganize to match other react-native repos"
Hey, I'm trying to get this to compile with webpack (for a project with `react-native-web`), which needs the source to be compiled to ES5.

This is pretty simple in other react-native module repos, which have a top-level directory with a package.json, the ios and android folders, and then the javascript either also in the top-level, or in a `src` folder (check out https://github.com/react-native-c

[2016-10-23 16:06] wkh237 commented on #164
@tuckerconnelly , thanks for the advice. After `0.9.6` I push the files in `src` folder to an [archive repo](https://github.com/wkh237/react-native-fetch-blob-package),  could you please see if that fulfills your need ? 😏

[2016-10-23 16:12] wkh237 commented on #156
Great to hear that 👍 I suppose IOS will also work as expected because I got the same error message (file doest not exists) on IOS.

[2016-10-23 16:51] Meshz commented on #156
@wkh237 Then I guess I can close this issue as it seems to be working on both platform. Thanks!

[2016-10-24 13:39] tuckerconnelly commented on #164
It doesn't. It's messy IMO. But I've got my own fork so I'm good.

[2016-10-24 13:39] #164 closed

[2016-10-25 10:35] yunxuanyan commented on #84
I'll get this exception if I turn on the "Don't keep activities" setting in android. If I turn it off, I can use this library normally. My version is
    "react-native-fetch-blob": "^0.9.6".

Thanks.

[2016-10-25 10:36] zxx714 commented on #84
I'll get this exception if I turn on the "Don't keep activities" setting in android. If I turn it off, I can use this library normally. My version is
"react-native-fetch-blob": "^0.9.6".

Thanks.

[2016-10-25 13:39] Meshz opened #165 "[actionViewIntent] Add callback when activity ends"
Hello @wkh237,

I'm downloading a file (XLS, DOC, ...) in local storage and opening it through `actionViewIntent`. I would like to upload it back once the user has finished editing it. Is there any callback available when the activity is ended or when the user comes back to the RN app? Thanks!

[2016-10-26 03:01] eggeggeg commented on #159
@wkh237 , after my test, it work for me,thank you

[2016-10-27 01:36] #151 closed

[2016-10-27 01:37] wkh237 commented on #165
Okay, I'll work on this issue 👍

[2016-10-27 08:51] raminious opened #166 "Implement previewDocument on Android"
Is it possible to add previewDocument (file chooser) for Android too ?
I searched on Github and found a code doing this job

[code]

Thank you

[2016-10-28 06:48] wkh237 commented on #166
@raminious , we've already introduced this feature in `0.9.0`. Please check [the doument](https://github.com/wkh237/react-native-fetch-blob/wiki/Android-API#androidactionviewintentpath-mimepromise) 👍

[2016-10-30 06:50] ksegla opened #167 "[Android] File Creation Error: parent path may not exist"
Hi
Thanks for the much needed module. I'm trying to make it work but I'm having
"create file error: failed to create file at path `" + path + "` for its parent path may not exists"
path being /data/data/my_app_package/files/test.txt

/storage/emulated/0/data/data does exist and I even manually created the directory my_app_package to which I added directories files and cache.

Code:
const NEW_FILE_

[2016-10-30 09:43] raminious commented on #166
Thanks @wkh237
Sorry for late response
I see ```android.actionViewIntent``` before. it should use for both open and openWith scenarios ?

[2016-10-30 12:46] raminious opened #168 "Accessing _cachedSystemAnimationFence requires the main thread"
I'm not sure this is react-native-fetch-blob error or not, please feel free to close this issue if error not depend on your module.

I use [react-native-router-flux](https://github.com/aksonov/react-native-router-flux/) as navigator of my app
When I use [Swtich](https://github.com/aksonov/react-native-router-flux/blob/master/docs/OTHER_INFO.md#switch-new-feature) (for example login and swtich to a